<div class="advantages-container">
    <h1 class="advantages-title">Zalety Współpracy</h1>
    
    <div class="advantages-wrapper">
        <section class="advantage-section">
            <h3>Bezobsługowa inwestycja</h3>
            <p>Oferowana przez nas obsługa jest kompletna. Możesz spać spokojnie, my pracujemy za Ciebie.</p>
        </section>
        
        <section class="advantage-section">
            <h3>Optymalizacja dochodu</h3>
            <p>Na bieżąco monitorujemy rynek i dostosowujemy ceny za wynajem apartamentu pod Twój zysk.</p>
        </section>
        
        <section class="advantage-section">
            <h3>Gotowi do pomocy 24/7</h3>
            <p>Gwarantujemy naszym wspólnym klientom obsługę przez całą dobę, siedem dni w tygodniu.</p>
        </section>
    </div>
</div>

@code {
    
}