@using RentoomBooking.StayWell.Pages
@using StayWell.Services
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject ModalService ModalService
@inject GlobalizationService GlobalizationService
@implements IDisposable
@inject Services.BitrixService BitrixService
@inject States.ReservationState ReservationState

@inject IStringLocalizer<HomePage> Localizer

<div class="header">
    <div class="left">
        @* <img class="logo" src="/icons/building.svg"/> *@
        <div class="texts">
            <span class="name">StayWell</span>
            <span class="reservation-id">
                @reservationId
            </span>
        </div>
    </div>
    <div class="right-wrapper">

        <div class="Languages">
            <button @onclick="@ChangeLangButton" style="background: none; border: none">
                <img src="/icons/languages.svg" />
            </button>
        </div>

        @if (ReservationState.IsValidReservation)
        {   
        <div class="Contact">
            <button @onclick="@OpenChat" style="background: none; border: none">
                <img src="/icons/message-circle.svg" />
            </button>
        </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string? Token { get; set; }
    [Parameter] 
    public string reservationId { get; set; } = "brak";

    private string pl = "pl";
    private string en = "en";

    private async Task ChangeLang(string lang)
    {
        var cultureName = lang == "pl" ? "pl-PL" : "en-US";
        await GlobalizationService.SetCultureWithPreferenceAsync(cultureName);
        ModalService.HideModal();
    }

    protected override async Task OnInitializedAsync()
    {
        GlobalizationService.OnChange += StateHasChanged;

        var savedPreference = await GlobalizationService.LoadPreferenceAsync();
        if (!string.IsNullOrWhiteSpace(savedPreference))
        {
            GlobalizationService.SetCulture(savedPreference);
        }

        await BitrixService.InitializeAsync();
    }

    private void ChangeLangButton()
    {
        ModalService.ShowModal(Localizer["ChangeLanguage"],
@<div>
    <p>@Localizer["CurrentLanguage"]: @CultureInfo.CurrentCulture</p>
            <Button OnClick="() => ChangeLang(pl)" Text="Polski"></Button>
            <Button OnClick="() => ChangeLang(en)" Text="English"></Button>
        </div>
    );
    }

    private async Task OpenChat()
    {
        var guestData = new Services.BitrixGuestData
        {
            Name = "",
            Phone = "",
            ExternalId = ""
        };

        guestData.Name = string.Concat(ReservationState.CurrentReservation.Reservation.Client.FirstName," ",ReservationState.CurrentReservation.Reservation.Client.LastName);
        guestData.Phone = ReservationState.CurrentReservation.Reservation.Client.Phone;
        guestData.ExternalId = ReservationState.CurrentReservation.Reservation.Client.Id.ToString();

        guestData.ExtraInfo.Add("Numer Rezerwacji", ReservationState.CurrentReservation.Reservation.id.ToString());
        guestData.ExtraInfo.Add("Apartament", ReservationState.CurrentReservation.Reservation.Items.FirstOrDefault().objectName);
        guestData.ExtraInfo.Add("Cena", ReservationState.CurrentReservation.Reservation.Items.FirstOrDefault().price.ToString());
        string staywellLink = $"[url=https://staywell.rentoom.pl/reservation/{Token}/HomePage]Otwórz StayWell rezerwacji[/url]";
        guestData.ExtraInfo.Add("Link do StayWell", staywellLink);

        await BitrixService.OpenChatAsync(guestData);
    }

    public void Dispose()
    {
        GlobalizationService.OnChange -= StateHasChanged;
    }

}