<div class="header">
    <div class="left">
        <img class="logo" src="/icons/building.svg"/>
        <div class="texts">
            <span class="name">StayWell</span>
            <span class="reservation-id">numer rezerwacji: <span style="text-decoration: underline">@reservationId</span></span>
        </div>
    </div>
    <div class="contact">
        <NavLink href="/ContactUsPage">
            <img src="/icons/phone.svg" alt="Kontakt" />
        </NavLink>
    </div>
</div>

@code {

    [Parameter] public string reservationId { get; set; } = string.Empty;


}
