@using RentoomBooking.StayWell.Services
@using RentoomBooking.StayWell.Components
@inject GlobalizationService GlobalizationService

@if (IsVisible)
{
    <div class="modal-backdrop" @onclick="Close" tabindex="-1" @ref="backdropRef">

        <div class="modal @(HasImage ? "modal-image-mode" : "")"
             @onclick:stopPropagation
             role="dialog"
             aria-labelledby="modal-title"
             aria-modal="true">

            @if (!HasImage && !String.IsNullOrEmpty(Title))
            {
                <div class="modal-header">
                    <button class="modal-close" @onclick="Close" aria-label="Zamknij modal">
                        ×
                    </button>
                    <p class="modal-title">@Title</p>
                </div>
            }

            @if (HasImage)
            {
                <div class="modal-content image-content">
                    <div class="image-wrapper">
                        @Content
            </div>

                    <div class="image-controls">
                        @* <button type="button" class="control-btn" @onclick="RotateImage" title="Rotate">
                            <img style="filter: invert(1)" src="/icons/rotate-ccw.svg"/>
                            <span>Obróc zdjęcie</span>
                        </button> *@

                        <button type="button" class="control-btn close-btn" @onclick="Close" title="Close">
                            <img style="filter: invert(1)" src="/icons/x.svg" />
                            <span>Zamknij</span>
                        </button>
                    </div>
                </div>
                }
            else
            {
                <div class="modal-content">
                    @Content
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public bool HasImage { get; set; }

    private ElementReference backdropRef;
    private int _rotation = 0;

    // private bool HasImage => !string.IsNullOrEmpty(ImageUrl);

    private bool IsRotatedPerpendicular => _rotation == 90 || _rotation == 270;

    protected override Task OnInitializedAsync()
    {
        GlobalizationService.OnChange += StateHasChanged;
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && IsVisible)
        {
            await backdropRef.FocusAsync();
        }
    }

    private void RotateImage()
    {
        _rotation += 90;
        if (_rotation >= 360) _rotation = 0;
    }

    private async Task Close()
    {
        _rotation = 0;
        if (OnClose.HasDelegate)
        {
            await OnClose.InvokeAsync();
        }
        else
        {
            IsVisible = false;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        GlobalizationService.OnChange -= StateHasChanged;
    }
}