@using RentoomBooking.StayWell.Services
@using RentoomBooking.StayWell.Components
@inject GlobalizationService GlobalizationService

@if (IsVisible)
{
    <div class="modal-backdrop" @onclick="Close" tabindex="-1" @ref="backdropRef">
        <div class="modal" @onclick:stopPropagation role="dialog" aria-labelledby="modal-title" aria-modal="true">
            <div class="modal-header">
                <button class="modal-close" @onclick="Close" aria-label="Zamknij modal">
                    ×
                </button>
                <p class="modal-title">@Title</p>
            </div>

            <div class="modal-content">
                @Content
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public RenderFragment? Content { get; set; }

    private ElementReference backdropRef;

    protected override Task OnInitializedAsync()
    {
        GlobalizationService.OnChange += StateHasChanged;
        return base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && IsVisible)
        {
            await backdropRef.FocusAsync();
        }
    }

    private async Task Close()
    {
        if (OnClose.HasDelegate)
        {
            await OnClose.InvokeAsync();
        }
        else
        {
            // Domyślne zachowanie: ukryj modal, jeśli rodzic nie obsługuje OnClose
            IsVisible = false;
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        GlobalizationService.OnChange -= StateHasChanged;
    }

}
