@inject NavigationManager Navigation

<div class="footer-nav-btn-wrapper">
    <button class="footer-nav-btn" @onclick="Navigate">
        <div class="footer-nav-icon">
            @Icon
        </div>
    </button>
</div>

@code {
    [Parameter] public string href { get; set; } = "/404";
    [Parameter] public RenderFragment? Icon { get; set; }
    [Parameter] public bool active { get; set; }

    private void Navigate()
    {
        Navigation.NavigateTo(href);
    }

}