@inject NavigationManager Navigation

<div class="footer-nav-btn-wrapper">
    <button class="footer-nav-btn @(active ? "active" : "")" @onclick="Navigate">
        <span class="footer-nav-icon">
            <img src="@icon" alt="Ikona" />
        </span>
    </button>
</div>

@code {
    [Parameter] public string href { get; set; }
    [Parameter] public string icon { get; set; }
    [Parameter] public bool active { get; set; }

    private void Navigate() => Navigation.NavigateTo(href);
}