<div class="parent">
    <div class="partner-name">@partnerName</div>
    <div class="address-wrapper">
        <span class="address-label">
            <img src="/icons/map-pin.svg"/>
            Adres:
        </span>
        <span class="address">
            @partnerAddress
        </span>
    </div>
</div>




@code {
    [Parameter] public string? partnerName { get; set; } = string.Empty;
    [Parameter] public string? partnerAddress { get; set; } = string.Empty;
    [Parameter] public string? offer { get; set; } = string.Empty;
}
