@page "/platnosc/{id:int}";
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@inject IApartmentsService ApartmentsService;

<PageTitle>Płatność</PageTitle>

<div class="payment-container">
    <div class="payment-wrapper">
        <h1>@_apartment?.Name</h1>
        
        <div class="">
            <span itemprop="streetAddress">@_apartment?.ObjectLocation?.LocalizationItem?.Street</span>, 
            <span itemprop="postalCode">@_apartment?.ObjectLocation?.LocalizationItem?.ZipCode</span> 
            <span itemprop="addressLocality">@_apartment?.ObjectLocation?.LocalizationItem?.City</span>
        </div>
        
        <hr style="width: 100%"/>
        
        <div class="form-wrapper">
            <div class="form-item">
                <h4>Dane osobiste</h4>
                
                <Input Placeholder="Imię" IsFull="true"/>
                <Input Placeholder="Nazwisko" IsFull="true"/>
                <Input Placeholder="Miasto" IsFull="true"/>
                <Input Placeholder="Adres" IsFull="true"/>
                <Input Placeholder="Kod pocztowy" IsFull="true"/>
                <Input Placeholder="Adres E-mail" IsFull="true"/>
                <Input Placeholder="Numer telefonu" IsFull="true"/>
            </div>
            
            <div class="form-item">
                <h4>Dane firmowe</h4>
                
                <Input Placeholder="Imię" IsFull="true"/>
                <Input Placeholder="Nazwisko" IsFull="true"/>
                <Input Placeholder="Nazwa firmy" IsFull="true"/>
                <Input Placeholder="NIP" IsFull="true"/>
                <Input Placeholder="Miasto" IsFull="true"/>
                <Input Placeholder="Adres" IsFull="true"/>
                <Input Placeholder="Kod pocztowy" IsFull="true"/>
                <Input Placeholder="Adres E-mail" IsFull="true"/>
                <Input Placeholder="Numer telefonu" IsFull="true"/>
            </div>
        </div>
        
        <label class="addon-label">
            <input type="checkbox" class="addon-checkbox" />
            <span class="addon-name">Zapisz moje informacje na wypadek przyszłych transakcji</span>
        </label>
        
        <!-- TODO payments types -->
        
    </div>
    
</div>

@code {
    [Parameter] public int Id { get; set; }
    
    private ApartmentObject? _apartment;
    
    protected override async Task OnInitializedAsync()
    {
        _apartment = await ApartmentsService.GetApartmentByIdAsync(Id);
    }
}