@page "/rezerwacja/{id:int}"
@page "/rezerwacja/{id:int}/{startDate?}/{endDate?}/{adults?}/{children?}"
@using RentoomBooking.SharedClasses.Models.IdoBooking
@inject IApartmentsService ApartmentsService;

<PageTitle>Rezerwacja @_apartment?.Name</PageTitle>

<div class="reservation-container">
    <div class="reservation-wrapper">
        <h1>@_apartment?.Name</h1>
        
        <div class="">
            <span itemprop="streetAddress">@_apartment?.ObjectLocation?.LocalizationItem?.Street</span>, 
            <span itemprop="postalCode">@_apartment?.ObjectLocation?.LocalizationItem?.ZipCode</span> 
            <span itemprop="addressLocality">@_apartment?.ObjectLocation?.LocalizationItem?.City</span>
        </div>
        
        <SearchBar IsRoom="false"/>
        
        <ul class="apartment-details">
            <li>
                <img src="assets/svgs/users.svg" alt="Liczba osób" class="icon" />
                <span itemprop="occupancy">@_apartment?.MinCapacity - @_apartment?.Capacity</span>
            </li>
            <li>
                <img src="assets/svgs/bed.svg" alt="Liczba łóżek" class="icon" />
                @_bedsCount
            </li>
            <li>
                <img src="assets/svgs/bath.svg" alt="Liczba łazienek" class="icon" />
                Min 1
            </li>
            <li>
                <img src="assets/svgs/m2.svg" alt="Powierzchnia apartamentu" class="icon" />
                <span itemprop="floorSize">@_apartment?.Area m²</span>
            </li>
        </ul>
        
        <hr/>
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string? StartDate { get; set; }
    [Parameter] public string? EndDate { get; set; }
    [Parameter] public string? Adults { get; set; }
    [Parameter] public string? Children { get; set; }
    
    private ApartmentObject? _apartment;
    private int? _bedsCount = null;

    protected override async Task OnInitializedAsync()
    {
        _apartment = await ApartmentsService.GetApartmentByIdAsync(Id);
        _bedsCount = _apartment?.BedsConfiguration?.Sum(item => item.Count);
    }

}