{
  "openapi": "3.0.0",
  "info": {
    "title": "Tpay Open API",
    "description": "Tpay API dedicated both for merchants and partners\n# Authentication\n# Marketplace Notifications\n# Credit card payments\n",
    "version": null,
    "x-logo": {
      "url": "/img/tpay_logo_trusted_payments.svg",
      "altText": "Logo Tpay - Trusted payments"
    }
  },
  "servers": [
    {
      "url": "https://api.tpay.com",
      "description": "Production server for live traffic"
    },
    {
      "url": "https://openapi.sandbox.tpay.com/",
      "description": "Sandbox environment for testing"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Fetch list",
        "description": "Fetch list of merchant's accounts",
        "operationId": "get_get_accounts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "example": "1"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit per page, default is 35",
            "required": false,
            "example": "35"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get list of merchants' accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListResultResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create account",
        "description": "Create new account",
        "operationId": "post_post_accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCreated"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/category": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account categories",
        "description": "Get list of account categories",
        "operationId": "get_get_categories",
        "responses": {
          "200": {
            "description": "Get list of account categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResultResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/category/{categoryId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Category",
        "description": "Get specified category",
        "operationId": "get_get_category",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "Category Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "some-sample-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Get specified category by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategorySingle"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/legalForm": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account Legal Forms",
        "description": "Get list of account Legal Forms",
        "operationId": "get_get_legal_forms",
        "responses": {
          "200": {
            "description": "Get list of Legal Forms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalFormListResultResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/mcc": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account MCCs",
        "description": "Get list of account MCCs",
        "operationId": "get_get_mccs",
        "responses": {
          "200": {
            "description": "Get list of account MCCs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MccListResultResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/pos": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Account categories",
        "description": "Get list of account categories",
        "operationId": "get_get_accounts_pos",
        "responses": {
          "200": {
            "description": "Get list of account categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsPosResultResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/legalForm/{legalFormId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Category",
        "description": "Get specified category by its ID",
        "operationId": "get_get_legal_form",
        "parameters": [
          {
            "name": "legalFormId",
            "in": "path",
            "description": "Legal form Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Get specified category by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalFormSingle"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/document": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Document types",
        "description": "Get a list of all document types",
        "operationId": "get_get_documents",
        "responses": {
          "200": {
            "description": "Get list of document types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentListResultResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/document/{documentTypeId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get document type",
        "description": "Get a single document type",
        "operationId": "get_get_document",
        "parameters": [
          {
            "name": "documentTypeId",
            "in": "path",
            "description": "Document type ID",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Get document type by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentSingle"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get details",
        "description": "Fetch merchant's account details",
        "operationId": "get_get_account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Account Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "some-sample-id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Account"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get specified merchant's account by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleAccount"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/v1/accounts/merchant": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "summary": "Create merchant",
        "description": "Create new merchant account",
        "operationId": "post_post_merchants",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Merchant"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merchant created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MerchantCreated"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/blik/alias": {
      "post": {
        "tags": [
          "Blik"
        ],
        "summary": "Create alias",
        "description": "Request establishing of new alias without processing payment",
        "operationId": "post_post_blik_alias",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAliasDetails"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Blik alias added.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAliasResponse"
                }
              }
            }
          },
          "400": {
            "description": "Blik alias could not be deciphered from sent data."
          },
          "422": {
            "description": "Blik alias does not fulfil one or more of the requirements."
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/blik/alias/{alias}": {
      "get": {
        "tags": [
          "Blik"
        ],
        "summary": "Get alias details",
        "description": "Fetch previously established alias details",
        "operationId": "get_get_blik_alias",
        "parameters": [
          {
            "name": "aliasType",
            "in": "query",
            "description": "Type of the alias to fetch",
            "required": true,
            "example": "PAYID"
          },
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blik alias details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AliasDetailsModel"
                }
              }
            }
          },
          "404": {
            "description": "Blik alias not found."
          },
          "429": {
            "description": "Too many requests."
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Blik"
        ],
        "summary": "Delete alias",
        "description": "Request deletion of previously established alias",
        "operationId": "delete_delete_blik_alias",
        "parameters": [
          {
            "name": "alias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAliasDetails"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Blik alias deleted."
          },
          "400": {
            "description": "Blik alias could not be deciphered from sent data."
          },
          "404": {
            "description": "Blik alias not found."
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/oauth/auth": {
      "post": {
        "tags": [
          "Authorization"
        ],
        "summary": "Request Token",
        "description": "Acquire token to use with further requests",
        "operationId": "post_api_login",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/LegacyLoginForm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login to Partner API to obtain auth token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginSuccessResponse"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/tokeninfo": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Fetch token info",
        "description": "Allows to check active token information including expiration date",
        "operationId": "get_token_info",
        "responses": {
          "200": {
            "description": "Returns information about the active token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfo"
                }
              }
            }
          },
          "400": {
            "description": "No token available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenInfoFail"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/marketplace/v1/transaction": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Create transaction",
        "description": "Create new marketplace transaction",
        "operationId": "post_marketplace_transaction_create",
        "requestBody": {
          "description": "Use this endpoint to create a new unpaid transaction. Call to /pay endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParentTransaction"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Returns information about invalid validation with list of errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Violations"
                }
              }
            }
          },
          "409|424|500": {
            "description": "Inability to create a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failed"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/marketplace/v1/transaction/{id}": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Details",
        "description": "Fetch details and status of given transaction",
        "operationId": "get_marketplace_transaction_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Transaction Ulid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "01HN30EWG7B58T0B8EAMCMZNFX"
          },
          {
            "name": "withPaymentAttempts",
            "in": "query",
            "description": "Returns additional payment attempts object. Useful for BLIK payments on-site integration",
            "required": false,
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Get specified marketplace transaction by its ULID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/marketplace/v1/bank-groups": {
      "get": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Bank groups",
        "description": "Fetch list of Bank Groups available for given merchant\\'s accounts",
        "operationId": "get_marketplace_get_bank_groups",
        "parameters": [
          {
            "name": "merchantId[]",
            "in": "query",
            "description": "list of merchants IDs",
            "style": "form",
            "explode": true,
            "allowReserved": true,
            "example": "01G6WAPZFNNX4CXBPKQH5MYD4R"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns bank groups available for all provided merchants. You should use this list to implement passed to transaction/create endpoint",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankGroups"
                }
              }
            }
          },
          "422": {
            "description": "Uassociated merchant id provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnassociatedMerchant"
                }
              }
            }
          },
          "500": {
            "description": "Internal error occured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failed"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/marketplace/v1/transaction/{id}/pay": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Pay",
        "description": "Provide payment details for marketplace transaction (applies to selected payment methods)",
        "operationId": "post_marketplace_transaction_pay",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ulid of ParentTransaction",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "01J9XH0PDXH1Q8C9MMEB3VJ0G6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Payment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCreated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/marketplace/v1/transaction/{id}/refund": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Create refund",
        "description": "Create new refund for marketplace transaction",
        "operationId": "post_marketplace_transaction_refund",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ulid of ParentTransaction",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Use this endpoint to create a refund to booked transaction.\n                The sum of refunds can not exceed the total transaction amount.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Refund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund for transaction processd corectlly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundTransaction"
                }
              }
            }
          },
          "400": {
            "description": "Returns information about invalid validation with list of errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Violations"
                }
              }
            }
          },
          "404|405": {
            "description": "Transaction is not paid or amount is invalid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failed"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/marketplace/v1/transaction/{id}/cancel": {
      "post": {
        "tags": [
          "Marketplace"
        ],
        "summary": "Cancel transaction",
        "description": "Cancel marketplace transaction",
        "operationId": "post_marketplace_transaction_cancel",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Ulid of ParentTransaction",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel for transaction processd corectlly"
          },
          "400": {
            "description": "Returns information about invalid validation with list of errors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Violations"
                }
              }
            }
          },
          "404": {
            "description": "Transaction is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Failed"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "List",
        "description": "Fetch list of transactions",
        "operationId": "get_transactions_get",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Transaction status",
            "required": false,
            "example": "correct"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Date and time in format yyyy-mm-dd hh:mm:ss",
            "required": false,
            "example": "2023-03-01 13:44:55"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time in format yyyy-mm-dd hh:mm:ss",
            "required": false,
            "example": "2023-03-01 14:44:55"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit per page, default is 35",
            "required": false,
            "example": 35
          }
        ],
        "responses": {
          "200": {
            "description": "Get transactions by query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactions"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create transaction",
        "description": "Create new transaction",
        "operationId": "post_transactions_create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransaction"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCreated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions/{transactionUlid}/qr": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Generate QR code",
        "description": "Generate QR code containing redirection to paywall for given transaction",
        "operationId": "post_transactions_qr",
        "parameters": [
          {
            "name": "transactionUlid",
            "in": "path",
            "description": "ULID of a Transaction.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "01J9XH0PDXH1Q8C9MMEB3VJ0G6"
          }
        ],
        "requestBody": {
          "description": "Generates QR code containing redirection to paywall for given transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildTransactionQR"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "QR code image",
            "content": {
              "image/png": [],
              "image/jpeg": [],
              "image/svg+xml": []
            }
          },
          "404": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions/{transactionId}/pay": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Pay",
        "description": "Submit payment details for transaction (for selected payment methods)",
        "operationId": "post_transactions_pay",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "01J9XH0PDXH1Q8C9MMEB3VJ0G6"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Pay"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCreated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Details",
        "description": "Fetch given transaction details and status",
        "operationId": "get_transaction_get",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "01J9XH0PDXH1Q8C9MMEB3VJ0G6"
          }
        ],
        "responses": {
          "200": {
            "description": "Get specified transaction by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransaction"
                }
              }
            }
          },
          "404": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions/{transactionId}/refunds": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Refunds",
        "description": "Fetch list of refunds for given transaction",
        "operationId": "get_transactions_get_refunds",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Unique ID of the transaction.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "01J9XH0PDXH1Q8C9MMEB3VJ0G6"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Date and time in format yyyy-mm-dd hh:mm:ss",
            "required": false,
            "example": "2023-03-01 13:44:55"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time in format yyyy-mm-dd hh:mm:ss",
            "required": false,
            "example": "2023-03-01 14:44:55"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit per page, default is 35",
            "required": false,
            "example": 35
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of refunds for the transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionsRefunds"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Refund transaction",
        "description": "Request refund for given transaction in full or partial amount",
        "operationId": "post_transactions_create_refunds",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "ID of a Transaction.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ta_6UvbBjehvHXA7vfD or 01K1Z6T40ZWKY1XZG9VD5AZ9Q4"
          }
        ],
        "requestBody": {
          "description": "\n                Refund allows to return a full or partial amount of the transaction. \n                It will be processed in a currency in which transaction was paid.\n                After a successful refund,\n                a list of requested returns will be returned with a related transaction object.\n                NOTICE: transactionId can be obtained from POST /transactions response.\n                \n                Refund full transaction amount\n                Request url: /transactions/ta_6UvbBjehvHXA7vfD/refunds\n                or (depends on your transactionId format)\n                Request url: /transactions/01K1Z6T40ZWKY1XZG9VD5AZ9Q4/refunds\n\n                Request body: {}\n            ",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRefund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction object with a list of refunds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionsRefunds"
                }
              }
            }
          },
          "400": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions/{transactionId}/cancel": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Cancel transaction",
        "description": "Request cancellation of transaction",
        "operationId": "get_transactions_get_cancel",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ta_6UvbBjehvHXA7vfD or 01K1Z6T40ZWKY1XZG9VD5AZ9Q4"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel specified transaction by its ID"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "405": {
            "description": "Method is not allowed for your account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "409": {
            "description": "Transaction is not pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Cancel transaction",
        "description": "Request cancellation of transaction",
        "operationId": "post_transactions_cancel",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "Transaction Id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ta_6UvbBjehvHXA7vfD or 01K1Z6T40ZWKY1XZG9VD5AZ9Q4"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel specified transaction by its ID"
          },
          "403": {
            "description": "Access denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "404": {
            "description": "Invalid transaction data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "405": {
            "description": "Method is not allowed for your account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          },
          "409": {
            "description": "Transaction is not pending",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions/bank-groups": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Bank groups",
        "description": "Fetch list of available bank groups",
        "operationId": "get_transactions_get_bank_groups",
        "parameters": [
          {
            "name": "onlyOnline",
            "in": "query",
            "description": "If set to true will return only online payment groups.",
            "required": false,
            "example": "true"
          }
        ],
        "responses": {
          "200": {
            "description": "Bank groups response data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListOfBankGroups"
                }
              }
            }
          },
          "400": {
            "description": "Invalid query data provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/transactions/channels": {
      "get": {
        "tags": [
          "Transactions"
        ],
        "summary": "Channels",
        "description": "Fetch list of available payment channels",
        "operationId": "get_transactions_get_channels",
        "responses": {
          "200": {
            "description": "Channels response data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannels"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/refunds": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Fetch list",
        "description": "Fetch list of refunds",
        "operationId": "get_refund_get",
        "parameters": [
          {
            "name": "payerEmail",
            "in": "query",
            "description": "Email of payer. Used only in 'transactional' context.",
            "required": false,
            "example": ""
          },
          {
            "name": "transactionTitle",
            "in": "query",
            "description": "Title of transaction. Used only in 'transactional' context.",
            "required": false,
            "example": ""
          },
          {
            "name": "context",
            "in": "query",
            "description": "Refunds context. Available values : transactional, card , Default value : transactional",
            "required": false,
            "example": "transactional"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Card token. Used only in 'card' context.",
            "required": false,
            "example": "transactional"
          },
          {
            "name": "from",
            "in": "query",
            "description": "Date and time in format yyyy-mm-dd hh:mm:ss",
            "required": false,
            "example": "2023-03-01 13:44:55"
          },
          {
            "name": "to",
            "in": "query",
            "description": "Date and time in format yyyy-mm-dd hh:mm:ss",
            "required": false,
            "example": "2023-03-01 14:44:55"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page Number",
            "required": false,
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit per page, default is 35",
            "required": false,
            "example": 35
          }
        ],
        "responses": {
          "200": {
            "description": "Get specified transaction by its ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefunds"
                }
              }
            }
          },
          "400": {
            "description": "Invalid value in search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest2"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Refunds"
        ],
        "summary": "Create refund",
        "description": "Create new refund based on card token",
        "operationId": "post_refund_create",
        "requestBody": {
          "description": "Create new refund.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRefund"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refund created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundCreated"
                }
              }
            }
          },
          "400": {
            "description": "Unable to create a refund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest2"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/refunds/{refundId}": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Get details",
        "description": "Fetch status of single refund request",
        "operationId": "get_refund_get_single",
        "parameters": [
          {
            "name": "refundId",
            "in": "path",
            "description": "Refund id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully got specific refund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefund"
                }
              }
            }
          },
          "404": {
            "description": "Refund could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest2"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/wallet/applepay/init": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Initiate Apple Pay",
        "description": "Initiate new Apple Pay session",
        "operationId": "post_wallet_applepay_init_create",
        "requestBody": {
          "description": "Data needed to initiate an Apple Pay session.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApplepayInitSession"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information about response in boolean type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletApplepayInitCreated"
                }
              }
            }
          },
          "400": {
            "description": "Validation or initialize Apple Pay session error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/tokens": {
      "post": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Create card token",
        "description": "Request creation of new card token without processing payment",
        "operationId": "post_tokens_create",
        "requestBody": {
          "description": "Initialize card tokenization process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardTokenization"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information about response in boolean type.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTokenizationCreated"
                }
              }
            }
          },
          "400": {
            "description": "Unable to create a refund.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest2"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/tokens/{tokenValue}": {
      "get": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Get details",
        "description": "Fetch details of previously established card token",
        "operationId": "get_tokens_get",
        "parameters": [
          {
            "name": "tokenValue",
            "in": "path",
            "description": "Token value",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38e012761d57b9adabaca3c0e0a7fbb5ff1c13073ad1c81c8f4a92b84045171d"
          }
        ],
        "responses": {
          "200": {
            "description": "Token data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetToken"
                }
              }
            }
          },
          "204": {
            "description": "Token not found."
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Tokenization"
        ],
        "summary": "Delete card token",
        "description": "Request removal of previously established card token",
        "operationId": "delete_tokens_delete",
        "parameters": [
          {
            "name": "tokenValue",
            "in": "path",
            "description": "Token value",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "38e012761d57b9adabaca3c0e0a7fbb5ff1c13073ad1c81c8f4a92b84045171d"
          }
        ],
        "responses": {
          "204": {
            "description": "Token successfully validated and processed.\n            The token removal process will be executed asynchronously."
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    },
    "/collect/bank-accounts": {
      "get": {
        "tags": [
          "Collect"
        ],
        "summary": "Trusted bank accounts",
        "description": "Fetch list of trusted bank accounts",
        "operationId": "get_collect_bank_accounts_get",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page Number, default is 1",
            "required": false,
            "example": 1
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit per page, default is 35",
            "required": false,
            "example": 35
          }
        ],
        "responses": {
          "200": {
            "description": "Collect bank accounts response data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollectBankAccounts"
                }
              }
            }
          },
          "400": {
            "description": "Invalid value in search parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Collect"
        ],
        "summary": "Add bank account",
        "description": "Adding a bank account to the trusted list",
        "operationId": "post_collect_bank_accounts_post",
        "requestBody": {
          "description": "Create new bank account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankAccount"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bank account created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountCreated"
                }
              }
            }
          },
          "400": {
            "description": "Unable to create a bank account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequest"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          },
          {
            "Basic": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "SingleAccount": {
        "type": "object"
      },
      "PersonContactWrite": {
        "type": "object"
      },
      "AddressWrite": {
        "type": "object"
      },
      "PersonWrite": {
        "type": "object"
      },
      "WebsiteWrite": {
        "type": "object"
      },
      "AccountWrite": {
        "type": "object"
      },
      "Account": {
        "required": [
          "offerCode",
          "email",
          "phone",
          "taxId",
          "regon",
          "krs",
          "legalForm",
          "categoryId",
          "notifyByEmail",
          "merchantApiConsent",
          "bankAccount"
        ],
        "properties": {
          "offerCode": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "maxLength": 255
          },
          "phone": {
            "$ref": "#/components/schemas/Phone"
          },
          "taxId": {
            "type": "string",
            "maxLength": 255
          },
          "regon": {
            "type": "string",
            "maxLength": 255
          },
          "krs": {
            "type": "integer"
          },
          "legalForm": {
            "type": "integer"
          },
          "categoryId": {
            "type": "integer"
          },
          "notifyByEmail": {
            "type": "boolean"
          },
          "merchantApiConsent": {
            "type": "boolean"
          },
          "website": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website"
            },
            "default": []
          },
          "address": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address"
            },
            "default": []
          },
          "person": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person"
            },
            "default": []
          },
          "bankAccount": {
            "$ref": "#/components/schemas/BankAccount"
          }
        },
        "type": "object"
      },
      "AccountListResultResponse": {
        "required": [
          "result",
          "requestId",
          "page",
          "limit",
          "total"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SingleAccount"
            },
            "default": []
          },
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AccountCreated": {
        "required": [
          "result",
          "requestId",
          "id",
          "offerCode",
          "email",
          "taxId",
          "regon",
          "krs",
          "legalForm",
          "categoryId",
          "notifyByEmail",
          "verificationStatus",
          "activationLink",
          "apiCredentials",
          "transactionApiCredentials"
        ],
        "properties": {
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "id": {
            "type": "string",
            "maxLength": 255
          },
          "offerCode": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "maxLength": 255
          },
          "taxId": {
            "type": "string",
            "maxLength": 255
          },
          "regon": {
            "type": "string",
            "maxLength": 255
          },
          "krs": {
            "type": "integer"
          },
          "legalForm": {
            "type": "integer"
          },
          "categoryId": {
            "type": "integer"
          },
          "notifyByEmail": {
            "type": "boolean"
          },
          "verificationStatus": {
            "type": "integer"
          },
          "activationLink": {
            "type": "string",
            "maxLength": 255
          },
          "website": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website2"
            },
            "default": []
          },
          "address": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address2"
            },
            "default": []
          },
          "person": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person2"
            },
            "default": []
          },
          "apiCredentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiCredential"
            }
          },
          "transactionApiCredentials": {
            "$ref": "#/components/schemas/TransactionApiCredential"
          }
        },
        "type": "object"
      },
      "CategoryListResultResponse": {
        "required": [
          "result",
          "requestId",
          "page",
          "limit",
          "total"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            },
            "default": []
          },
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CategorySingle": {
        "required": [
          "result",
          "requestId",
          "id",
          "name"
        ],
        "properties": {
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "type": "object"
      },
      "LegalFormListResultResponse": {
        "required": [
          "result",
          "requestId",
          "page",
          "limit",
          "total"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LegalForm"
            },
            "default": []
          },
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "MccListResultResponse": {
        "required": [
          "result",
          "requestId",
          "page",
          "limit",
          "total"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Mcc"
            },
            "default": []
          },
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "AccountsPosResultResponse": {
        "required": [
          "result",
          "requestId"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website2"
            },
            "default": []
          },
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          }
        },
        "type": "object"
      },
      "LegalFormSingle": {
        "required": [
          "result",
          "requestId",
          "id",
          "name"
        ],
        "properties": {
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "type": "object"
      },
      "DocumentListResultResponse": {
        "required": [
          "result",
          "requestId",
          "page",
          "limit",
          "total"
        ],
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Document"
            },
            "default": []
          },
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "DocumentSingle": {
        "required": [
          "result",
          "requestId",
          "id",
          "name"
        ],
        "properties": {
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string",
            "maxLength": 255
          }
        },
        "type": "object"
      },
      "Merchant": {
        "required": [
          "offerCode",
          "email",
          "taxId",
          "regon",
          "krs",
          "legalForm",
          "categoryId"
        ],
        "properties": {
          "offerCode": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "maxLength": 255
          },
          "taxId": {
            "type": "string",
            "maxLength": 255
          },
          "regon": {
            "type": "string",
            "maxLength": 255
          },
          "krs": {
            "type": "integer"
          },
          "legalForm": {
            "type": "integer"
          },
          "categoryId": {
            "type": "integer"
          },
          "address": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address3"
            },
            "default": []
          },
          "website": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website3"
            },
            "default": []
          },
          "contactPerson": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person3"
            },
            "default": []
          },
          "merchantApiConsent": {
            "type": "boolean",
            "default": false
          }
        },
        "type": "object"
      },
      "MerchantCreated": {
        "required": [
          "result",
          "id",
          "offerCode",
          "email",
          "verificationStatus",
          "activationLink",
          "apiCredentials",
          "transactionApiCredentials"
        ],
        "properties": {
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "id": {
            "type": "string",
            "maxLength": 255
          },
          "offerCode": {
            "type": "string",
            "maxLength": 255
          },
          "email": {
            "type": "string",
            "maxLength": 255
          },
          "taxId": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "regon": {
            "type": "string",
            "maxLength": 255,
            "nullable": true
          },
          "krs": {
            "type": "integer",
            "nullable": true
          },
          "legalForm": {
            "type": "integer",
            "nullable": true
          },
          "categoryId": {
            "type": "integer",
            "nullable": true
          },
          "verificationStatus": {
            "type": "integer"
          },
          "activationLink": {
            "type": "string",
            "maxLength": 255
          },
          "website": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Website4"
            },
            "default": []
          },
          "address": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Address4"
            },
            "default": []
          },
          "person": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Person4"
            },
            "default": []
          },
          "apiCredentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiCredential2"
            }
          },
          "transactionApiCredentials": {
            "$ref": "#/components/schemas/TransactionApiCredential2"
          }
        },
        "type": "object"
      },
      "CreateAliasDetails": {
        "required": [
          "description",
          "pay"
        ],
        "properties": {
          "description": {
            "description": "Description of the permission asked, visible to the payer.",
            "type": "string",
            "maxLength": 105,
            "minLength": 1,
            "example": "YourGroceryShop payments"
          },
          "lang": {
            "description": "Short code of language",
            "type": "string",
            "enum": [
              "en",
              "pl",
              "de",
              "fr",
              "ru",
              "it",
              "es",
              "uk"
            ],
            "example": "en",
            "nullable": true
          },
          "pay": {
            "$ref": "#/components/schemas/Pay2"
          }
        },
        "type": "object"
      },
      "CreateAliasResponse": {
        "required": [
          "result",
          "posId",
          "status",
          "date",
          "description"
        ],
        "properties": {
          "result": {
            "description": "Status of the request",
            "type": "string",
            "example": "success"
          },
          "posId": {
            "description": "Identifier of your POS which issued the alias request",
            "type": "string",
            "example": "ps_Erdmv4lkqdVw7XRB"
          },
          "status": {
            "description": "Status of the alias registration",
            "type": "string",
            "example": "pending"
          },
          "date": {
            "description": "List of timestamps of alias lifecycle events",
            "type": "array",
            "items": [],
            "example": {
              "creation": "2024-12-12 12:34:56"
            }
          },
          "description": {
            "description": "Description of the alias, as it was presented to the payer.",
            "type": "string",
            "example": "YourGroceryShop payments"
          }
        },
        "type": "object"
      },
      "AliasDetailsModel": {
        "required": [
          "isActive",
          "aliases"
        ],
        "properties": {
          "isActive": {
            "description": "Is alias active",
            "type": "boolean"
          },
          "aliases": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AliasDetails"
            }
          }
        },
        "type": "object"
      },
      "DeleteAliasDetails": {
        "required": [
          "aliasType"
        ],
        "properties": {
          "aliasType": {
            "description": "Alias type",
            "type": "string",
            "enum": [
              "UID",
              "PAYID"
            ]
          }
        },
        "type": "object"
      },
      "LegacyLoginForm": {
        "required": [
          "client_id",
          "client_secret"
        ],
        "properties": {
          "client_id": {
            "type": "string"
          },
          "client_secret": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "LoginSuccessResponse": {
        "required": [
          "issued_at",
          "client_id",
          "access_token"
        ],
        "properties": {
          "issued_at": {
            "type": "integer",
            "example": "1642706725"
          },
          "scope": {
            "type": "string",
            "default": "read",
            "maxLength": 255,
            "example": "read"
          },
          "token_type": {
            "type": "string",
            "default": "Bearer",
            "maxLength": 255,
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "default": 7200,
            "example": "7200"
          },
          "client_id": {
            "type": "string",
            "maxLength": 255
          },
          "access_token": {
            "type": "string",
            "maxLength": 255
          }
        },
        "type": "object"
      },
      "TokenInfo": {
        "required": [
          "token",
          "requestId"
        ],
        "properties": {
          "token": {
            "$ref": "#/components/schemas/TokenInfoDetails"
          },
          "requestId": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "default": "success",
            "example": "success"
          }
        },
        "type": "object"
      },
      "TokenInfoFail": {
        "required": [
          "errors",
          "requestId"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          },
          "requestId": {
            "type": "string"
          },
          "result": {
            "type": "string",
            "default": "failed",
            "example": "failed"
          }
        },
        "type": "object"
      },
      "ParentTransaction": {
        "required": [
          "currency",
          "description",
          "hiddenDescription",
          "languageCode",
          "preSelectedChannelId",
          "pos",
          "billingAddress",
          "childTransactions",
          "transactionCallbacks"
        ],
        "properties": {
          "currency": {
            "description": "This parameter affects display language of payment wall and email notifications",
            "type": "string",
            "enum": [
              "PLN"
            ],
            "example": "PLN"
          },
          "description": {
            "description": "Transaction description to display on payment wall",
            "type": "string",
            "example": "Test marketplace transaction"
          },
          "hiddenDescription": {
            "description": "Custom unique value assigned to the transaction ie. orderId.\n        This value will be sent back in webhook notification after successful payment",
            "type": "string",
            "example": "1234"
          },
          "languageCode": {
            "description": "This parameter affects display language of payment wall and email notifications",
            "type": "string",
            "enum": [
              "PL",
              "EN"
            ],
            "example": "PL"
          },
          "preSelectedChannelId": {
            "description": "Id of payment channel chosen on merchant side. Null if there was no choice on merchant side.\n        If this value is provided, a payer will see the specific payment wall step of selected payment method.\n        If null, a payer will see the payment wall with choice of all available payment methods",
            "type": "string",
            "example": "64"
          },
          "pos": {
            "$ref": "#/components/schemas/Pos"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          },
          "childTransactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChildTransaction"
            }
          },
          "transactionCallbacks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionCallback"
            }
          }
        },
        "type": "object"
      },
      "CreatedTransaction": {
        "required": [
          "transactionId",
          "title",
          "paymentUrl"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "example": "01G5EDNEPPNWBJAX8AR5QAMGVA"
          },
          "title": {
            "description": "The user-friendly transaction title presented to\n     * the payer",
            "type": "string",
            "example": "M-DW123DWX"
          },
          "paymentUrl": {
            "description": "The URL to payment wall of created transaction.",
            "type": "string",
            "example": "https://secure.tpay.com/marketplace?id=01G5EDNEPPNWBJAX8AR5QAMGVA"
          }
        },
        "type": "object"
      },
      "Violations": {
        "required": [
          "violations"
        ],
        "properties": {
          "violations": {
            "type": "object",
            "example": {
              "amount": "This value should be of type int.",
              "billingAddress.email": "This value should not be blank."
            }
          }
        },
        "type": "object"
      },
      "Failed": {
        "required": [
          "reasons"
        ],
        "properties": {
          "reasons": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Cannot provide bank groups list"
            }
          }
        },
        "type": "object"
      },
      "GetTransactionResponse": {
        "required": [
          "title",
          "currency",
          "description",
          "hiddenDescription",
          "languageCode",
          "preSelectedChannelId",
          "status",
          "creationDate",
          "pos",
          "billingAddress",
          "childTransactions",
          "transactionCallbacks",
          "payments"
        ],
        "properties": {
          "title": {
            "description": "Transaction title",
            "type": "string",
            "example": "M-WW1S7"
          },
          "currency": {
            "description": "This parameter affects display language of payment wall and email notifications",
            "type": "string",
            "enum": [
              "PLN"
            ],
            "example": "PLN"
          },
          "description": {
            "description": "Transaction description to display on payment wall",
            "type": "string",
            "example": "Test marketplace transaction"
          },
          "hiddenDescription": {
            "description": "Custom unique value assigned to the transaction ie. orderId.\n        This value will be sent back in webhook notification after successful payment",
            "type": "string",
            "example": "1234"
          },
          "languageCode": {
            "description": "This parameter affects display language of payment wall and email notifications",
            "type": "string",
            "enum": [
              "PL",
              "EN"
            ],
            "example": "PL"
          },
          "preSelectedChannelId": {
            "description": "Id of payment channel chosen on merchant side. Null if there was no choice on merchant side.\n        If this value is provided, a payer will see the specific payment wall step of selected payment method.\n        If null, a payer will see the payment wall with choice of all available payment methods",
            "type": "string",
            "example": "64"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "correct",
              "refund",
              "canceled"
            ],
            "example": "correct"
          },
          "creationDate": {
            "type": "string",
            "example": "2023-01-01 12:00:00.000000"
          },
          "pos": {
            "$ref": "#/components/schemas/Pos"
          },
          "billingAddress": {
            "$ref": "#/components/schemas/BillingAddress"
          },
          "childTransactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChildTransactionResponse"
            }
          },
          "transactionCallbacks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransactionCallback"
            }
          },
          "payments": {
            "$ref": "#/components/schemas/PaymentsWithAttempts"
          }
        },
        "type": "object"
      },
      "BadRequest": {
        "required": [
          "result",
          "requestId"
        ],
        "properties": {
          "result": {
            "type": "string",
            "enum": [
              "failed"
            ]
          },
          "requestId": {
            "type": "string",
            "example": "85136c79cbf9fe36bb9"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BadRequestErrors"
            },
            "default": []
          }
        },
        "type": "object"
      },
      "BankGroups": {
        "required": [
          "groups"
        ],
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BankGroup"
            }
          }
        },
        "type": "object"
      },
      "UnassociatedMerchant": {
        "required": [
          "reasons",
          "unassociatedMerchants"
        ],
        "properties": {
          "reasons": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Unassociated merchant provided"
            }
          },
          "unassociatedMerchants": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "1235"
            }
          }
        },
        "type": "object"
      },
      "Payment": {
        "required": [
          "blikPaymentData",
          "cardPaymentData"
        ],
        "properties": {
          "blikPaymentData": {
            "$ref": "#/components/schemas/BlikPaymentData"
          },
          "cardPaymentData": {
            "$ref": "#/components/schemas/CardPaymentData"
          },
          "applePayPaymentData": {
            "description": "Apple Pay Payment Data This is base64 of json containing encrypted payment data received from\n            Apple Pay JS on payment authorized event",
            "type": "string",
            "example": "ewogICJkYXRhIjogInh4eHgiLAogICJzaWduYXR1cmUiOiAieHh4eCIsCiAgImhlYWRlciI6IHsKICAgICJwdWJsaWNLZXlIY\nXNoIjogInh4eHgiLAogICAgImVwaGVtZXJhbFB1YmxpY0tleSI6ICJ4eHh4IiwKICAgICJ0cmFuc2FjdGlvbklkIjogInh4eHgiCiAgfSwKICAidmVyc2lv\nbiI6ICJFQ192MSIKfQo",
            "nullable": true
          }
        },
        "type": "object"
      },
      "TransactionCreated": {
        "required": [
          "transactionPaymentUrl",
          "lang",
          "payer",
          "payments",
          "result",
          "requestId",
          "transactionId",
          "title",
          "posId",
          "status",
          "amount",
          "currency",
          "description",
          "hiddenDescription",
          "date"
        ],
        "properties": {
          "transactionPaymentUrl": {
            "description": "URL to pay for transaction",
            "type": "string",
            "maxLength": 255,
            "pattern": "https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{2,256}\\.[a-z]{2,6}\\b([-a-zA-Z0-9@:%_\\+.~#?&\\/=]*)",
            "example": "https:\\secure.tpay.com?title=TR-BRA-ASDFGH&uid=00AAAABBBBCCCCDDDDEEEEFFFF"
          },
          "lang": {
            "description": "Short code of language",
            "type": "string",
            "enum": [
              "en",
              "pl",
              "de",
              "fr",
              "ru",
              "it",
              "es",
              "uk"
            ],
            "example": "en"
          },
          "payer": {
            "$ref": "#/components/schemas/Payer"
          },
          "payments": {
            "$ref": "#/components/schemas/Payments"
          },
          "result": {
            "description": "success - all actions in the request are successful.<br/>actionRequired - after this request you\n        need to perform an action like redirect user to specific URL to finish the operation.<br/>pending - all actions\n        in the request are successful, but you need to wait for confirmation (action is asynchronous).<br/>failed - \n        request failed, validation went wrong, or action finished with declined status, look after errors section in\n        response to see more information",
            "type": "string",
            "enum": [
              "success",
              "actionRequired",
              "pending",
              "failed"
            ],
            "example": "success"
          },
          "requestId": {
            "type": "string",
            "example": "85136c79cbf9fe36bb9"
          },
          "transactionId": {
            "type": "string",
            "example": "ta_6UvbBjehvHXA7vfD or 01K1Z6T40ZWKY1XZG9VD5AZ9Q4"
          },
          "title": {
            "type": "string",
            "example": "TR-BRA-KGZK0X"
          },
          "posId": {
            "type": "string",
            "example": "ps_6UvbBjehvHXA7vfD"
          },
          "status": {
            "description": "pending - transaction is waiting for being processed<br />\n        paid - transaction is paid<br/>\n        correct - merchant has accepted payment<br/>\n        refund - transaction has been fully refunded<br/>\n        canceled - transaction has been marked as canceled",
            "type": "string",
            "enum": [
              "paid",
              "correct",
              "pending",
              "refund",
              "canceled"
            ],
            "example": "success"
          },
          "amount": {
            "type": "numeric",
            "example": 12.34
          },
          "currency": {
            "description": "Currency code in ISO-4217",
            "type": "string",
            "example": "PLN"
          },
          "description": {
            "description": "Description of the transaction.",
            "type": "string",
            "example": "Test transaction"
          },
          "hiddenDescription": {
            "description": "Parameter to identify the transaction on the merchant side.",
            "type": "string",
            "example": "123456"
          },
          "date": {
            "$ref": "#/components/schemas/TransactionDates"
          }
        },
        "type": "object"
      },
      "Refund": {
        "required": [
          "childTransactions"
        ],
        "properties": {
          "childTransactions": {
            "description": "Empty array to refund entire transaction payment or array of child transactions to refund",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChildTransaction2"
            }
          }
        },
        "type": "object"
      },
      "RefundTransaction": {
        "required": [
          "transactionId",
          "amount"
        ],
        "properties": {
          "transactionId": {
            "type": "string",
            "example": "01G5EDNEPPNWBJAX8AR5QAMGVA"
          },
          "amount": {
            "type": "int",
            "example": "20"
          }
        },
        "type": "object"
      },
      "GetTransactions": {
        "required": [
          "result",
          "requestId",
          "page",
          "limit",
          "total"
        ],
        "properties": {
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetTransaction"
            },
            "default": []
          },
          "result": {
            "type": "string",
            "maxLength": 255
          },
          "requestId": {
            "type": "string",
            "maxLength": 255
          },
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "CreateTransaction": {
        "required": [
          "amount",
          "currency",
          "description",
          "payer",
          "pay",
          "callbacks"
        ],
        "properties": {
          "amount": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 12.34
          },
          "currency": {
            "description": "ISO 4217 currency code",
            "type": "enum",
            "enum": [
              "PLN"
            ],
            "example": "PLN"
          },
          "description": {
            "description": "Description of the transaction.",
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "example": "Test transaction"
          },
          "hiddenDescription": {
            "description": "Parameter to identify the transaction on the merchant side.",
            "type": "string",
            "maxLength": 255,
            "example": "123456",
            "nullable": true
          },
          "lang": {
            "description": "Short code of language",
            "type": "string",
            "enum": [
              "en",
              "pl",
              "de",
              "fr",
              "ru",
              "it",
              "es",
              "uk"
            ],
            "example": "en",
            "nullable": true
          },
          "payer": {
            "$ref": "#/components/schemas/Payer2"
          },
          "pay": {
            "$ref": "#/components/schemas/Pay"
          },
          "callbacks": {
            "$ref": "#/components/schemas/Callbacks"
          }
        },
        "type": "object"
      },
      "BuildTransactionQR": {
        "required": [
          "logo"
        ],
        "properties": {
          "size": {
            "description": "Size of resulting QR code",
            "type": "string",
            "default": "M",
            "enum": [
              "S",
              "M",
              "L",
              "XL"
            ],
            "example": "M"
          },
          "outputType": {
            "description": "Desired type of resulting image",
            "type": "string",
            "default": "image/png",
            "enum": [
              "image/png",
              "image/jpeg",
              "image/svg+xml"
            ],
            "example": "image/png"
          },
          "logo": {
            "description": "Base64 encoded image of logo to be embedded into QR code.",
            "type": "string",
            "example": "iVBORw0KGgoAAAANSUhEUgAAAFMAAABUCAYAA(...)4eCs20AAAAASUVORK5CYII="
          },
          "logoType": {
            "description": "Type of logo image to be embedded into QR code",
            "type": "string",
            "enum": [
              "image/png",
              "image/jpeg",
              "image/svg+xml"
            ],
            "example": "image/png",
            "nullable": true
          }
        },
        "type": "object"
      },
      "Pay": {
        "required": [
          "blikPaymentData",
          "cardPaymentData",
          "tokenPaymentData"
        ],
        "properties": {
          "groupId": {
            "description": "Bank group ID",
            "type": "integer",
            "example": 150,
            "nullable": true
          },
          "channelId": {
            "description": "Payment method ID",
            "type": "integer",
            "example": 64,
            "nullable": true
          },
          "method": {
            "type": "string",
            "enum": [
              "pay_by_link",
              "transfer",
              "sale"
            ],
            "example": "pay_by_link",
            "nullable": true
          },
          "blikPaymentData": {
            "$ref": "#/components/schemas/BlikPaymentData"
          },
          "cardPaymentData": {
            "$ref": "#/components/schemas/CardPaymentData"
          },
          "tokenPaymentData": {
            "$ref": "#/components/schemas/TokenPaymentData"
          },
          "cof": {
            "description": "Credentials On File This option indicates type of card token payment.\n            List of available options:<br/>\n            unscheduled - does not occur on a scheduled or regularly occurring transaction date,\n            card charges initiated by merchant<br/>\n            cardholder_initiated - indicates that card charge is being processed with the intention of retaining\n            the cardholder’s data<br/>\n            recurring - card charges initiated by merchant at regular fixed intervals",
            "type": "string",
            "default": "unscheduled",
            "enum": [
              "unscheduled",
              "cardholder_initiated",
              "recurring"
            ],
            "nullable": true
          },
          "applePayPaymentData": {
            "description": "Apple Pay Payment Data This is base64 of json containing encrypted payment data received from\n            Apple Pay JS on payment authorized event",
            "type": "string",
            "example": "ewogICJkYXRhIjogInh4eHgiLAogICJzaWduYXR1cmUiOiAieHh4eCIsCiAgImhlYWRlciI6IHsKICAgICJwdWJsaWNLZXlIY\nXNoIjogInh4eHgiLAogICAgImVwaGVtZXJhbFB1YmxpY0tleSI6ICJ4eHh4IiwKICAgICJ0cmFuc2FjdGlvbklkIjogInh4eHgiCiAgfSwKICAidmVyc2lv\nbiI6ICJFQ192MSIKfQo",
            "nullable": true
          }
        },
        "type": "object"
      },
      "GetTransaction": {
        "required": [
          "lock",
          "payments",
          "result",
          "requestId",
          "transactionId",
          "title",
          "posId",
          "status",
          "amount",
          "currency",
          "description",
          "hiddenDescription",
          "date"
        ],
        "properties": {
          "lock": {
            "$ref": "#/components/schemas/Lock"
          },
          "payments": {
            "$ref": "#/components/schemas/PaymentsWithAttempts"
          },
          "result": {
            "description": "success - all actions in the request are successful.<br/>actionRequired - after this request you\n        need to perform an action like redirect user to specific URL to finish the operation.<br/>pending - all actions\n        in the request are successful, but you need to wait for confirmation (action is asynchronous).<br/>failed - \n        request failed, validation went wrong, or action finished with declined status, look after errors section in\n        response to see more information",
            "type": "string",
            "enum": [
              "success",
              "actionRequired",
[...]
