<div class="blog-skeleton">
    <!-- Header Banner Skeleton -->
    <div class="blog-skeleton__header-banner">
        <div class="blog-skeleton__header-container">
            <div class="blog-skeleton__header-card">
                <div class="blog-skeleton__card-meta">
                    <div class="blog-skeleton__line blog-skeleton__line--short"></div>
                    <div class="blog-skeleton__line blog-skeleton__line--badge"></div>
                </div>
                <div class="blog-skeleton__line blog-skeleton__line--title"></div>
                <div class="blog-skeleton__line blog-skeleton__line--title-short"></div>
                <div class="blog-skeleton__line blog-skeleton__line--excerpt-1"></div>
                <div class="blog-skeleton__line blog-skeleton__line--excerpt-2"></div>
                <div class="blog-skeleton__line blog-skeleton__line--excerpt-3"></div>
                <div class="blog-skeleton__tags">
                    <div class="blog-skeleton__tag"></div>
                    <div class="blog-skeleton__tag"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Body Content Skeleton -->
    <div class="blog-skeleton__body">
        <div class="blog-skeleton__line blog-skeleton__line--body-heading"></div>
        <div class="blog-skeleton__line blog-skeleton__line--body-p"></div>
        <div class="blog-skeleton__line blog-skeleton__line--body-p"></div>
        <div class="blog-skeleton__line blog-skeleton__line--body-p-short"></div>
        
        <div class="blog-skeleton__line blog-skeleton__line--body-heading" style="margin-top: 2rem;"></div>
        <div class="blog-skeleton__line blog-skeleton__line--body-p"></div>
        <div class="blog-skeleton__line blog-skeleton__line--body-p"></div>
        <div class="blog-skeleton__line blog-skeleton__line--body-p-short"></div>
    </div>
</div>
