<div class="blog-list-skeleton">
    <!-- Header Banner Skeleton (matches BlogHeaderSection layout) -->
    <div class="blog-list-skeleton__header-banner">
        <div class="blog-list-skeleton__header-container">
            <div class="blog-list-skeleton__header-card">
                <div class="blog-list-skeleton__card-meta">
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--meta"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--date"></div>
                </div>
                <div class="blog-list-skeleton__line blog-list-skeleton__line--title"></div>
                <div class="blog-list-skeleton__line blog-list-skeleton__line--title-short"></div>
                <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-1"></div>
                <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-2"></div>
                <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-3"></div>
                <div class="blog-list-skeleton__tags">
                    <div class="blog-list-skeleton__tag"></div>
                    <div class="blog-list-skeleton__tag"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Grid Skeleton -->
    <div class="blog-list-skeleton__container">
        <!-- Section title skeleton -->
        <div class="blog-list-skeleton__line blog-list-skeleton__line--section-title"></div>
        
        <div class="blog-list-skeleton__grid">
            <!-- 1. Featured card skeleton (spans 2 columns on desktop) -->
            <div class="blog-list-skeleton__featured-card">
                <div class="blog-list-skeleton__featured-content">
                    <div class="blog-list-skeleton__tags">
                        <div class="blog-list-skeleton__tag blog-list-skeleton__tag--white"></div>
                        <div class="blog-list-skeleton__tag blog-list-skeleton__tag--white"></div>
                    </div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--title blog-list-skeleton__line--white"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-1 blog-list-skeleton__line--white"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-2 blog-list-skeleton__line--white"></div>
                </div>
            </div>
            
            <!-- 2. Standard card skeleton -->
            <div class="blog-list-skeleton__item-card">
                <div class="blog-list-skeleton__item-image"></div>
                <div class="blog-list-skeleton__item-content">
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--meta"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--title"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-1"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-2"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--btn"></div>
                </div>
            </div>
            
            <!-- 3. Standard card skeleton -->
            <div class="blog-list-skeleton__item-card">
                <div class="blog-list-skeleton__item-image"></div>
                <div class="blog-list-skeleton__item-content">
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--meta"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--title"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-1"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--excerpt-2"></div>
                    <div class="blog-list-skeleton__line blog-list-skeleton__line--btn"></div>
                </div>
            </div>
        </div>
    </div>
</div>
