@page "/apartments"
@using RentoomBookingWeb.Components.Features.Apartments.Components;
@using RentoomBooking.SharedClasses.Services;
@inject IApartmentsService ApartmentsApiService;

<PageTitle>Apartamenty</PageTitle>

<div class="apartments-container">
    <HeaderSection ImagePath="/assets/images/header-bg-apartments.jpeg" Title="Apartamenty" Height="230px" />
    
    <div class="apartments-search-wrapper">
        <SearchBar />
    </div>
    
    <div class="apartments-items">
        
        <Filters />
        
        <div class="apartments-items-wrapper">
            <h4>@ApartmentsCount apartamenty/ów</h4>
            <div class="apartments-items-container">
                <Apartment/>
                <Apartment/>
                <Apartment/>
                <Apartment/>
                <Apartment/>
                <Apartment/>
            </div>
        </div>
    </div>
</div>

@code {

    private long? ApartmentsCount;
    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        try
        {
            ApartmentsCount = await ApartmentsApiService.GetApartmentsCountAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Wystąpił błąd: {ex.Message}");
            ApartmentsCount = null;
        }
        finally
        {
            IsLoading = false;
        }
    }

}
