@page "/apartamenty"
@using RentoomBookingWeb.Components.Features.Apartments.Components;
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@inject IApartmentsService ApartmentsService;
@inject IJSRuntime JS;

<PageTitle>Apartamenty</PageTitle>

<div class="apartments-container">
    <HeaderSection ImagePath="/assets/images/header-bg-apartments.jpeg" Title="Apartamenty" Height="230px" />
    
    <div class="apartments-search-wrapper">
        <SearchBar />
    </div>
    
    <div class="apartments-items">
        
        <Filters />
        
        @if (!IsMapView)
        {
            <div class="apartments-items-wrapper">
                <div class="text-button-wrapper">
                    <h4>@ApartmentsCount apartamenty/ów</h4>
                    <div class="view-buttons-wrapper">
                        <div class="view-button-active">Siatka</div>
                        <div @onclick="OnMapView" class="view-button">Mapa</div>
                    </div>
                </div>
                <div class="apartments-items-container">
                    @if (!string.IsNullOrEmpty(Error))
                    {
                        <p class="text-red-600">@Error</p>
                    }
                
                    @if (Items.Count > 0)
                    {
                        @foreach (var item in Items) { 
                            <Apartment Item="@item"/>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <div class="apartments-items-map">
                <div class="text-button-wrapper">
                    <h4>@ApartmentsCount apartamenty/ów</h4>
                    <div class="view-buttons-wrapper">
                        <div @onclick="OnListView" class="view-button">Siatka</div>
                        <div class="view-button-active">Mapa</div>
                    </div>
                </div>
                <ApartmentsMap></ApartmentsMap>
            </div>
        }
        
    </div>
</div>

@code {

    private long? ApartmentsCount;
    private bool IsLoading = true;
    private const int PageSize = 6;
    private readonly List<ApartmentObject> Items = new();
    private string? Token;
    private bool ApartmentsIsloading;
    private bool HasMore = true;
    private string? Error;
    private DotNetObjectReference<Apartments>? ObjRef;
    private IJSObjectReference? JsModule;
    private bool IsMapView = false;

    protected override async Task OnInitializedAsync()
    {
        await GetApartmentsCount();
        await LoadMore();
    }

    private async Task GetApartmentsCount()
    {
        IsLoading = true;
        try
        {
            ApartmentsCount = await ApartmentsService.GetApartmentsCountAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Wystąpił błąd: {ex.Message}");
            ApartmentsCount = null;
        }
        finally
        {
            IsLoading = false;
        }
    }
    
    private async Task LoadMore()
    {
        if (IsLoading || !HasMore) return;

        IsLoading = true;
        Error = null;

        try
        {
            var page = await ApartmentsService.GetApartmentsByPageAsync(Token, top: PageSize);
            if (page?.Items is { Count: > 0 })
            {
                Items.AddRange(page.Items);
                Token = page.ContinuationToken;
                HasMore = !string.IsNullOrEmpty(Token);
            }
            else
            {
                HasMore = false;
            }
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            HasMore = false; 
        }
        finally
        {
            IsLoading = false;
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ObjRef = DotNetObjectReference.Create(this);
            JsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/infiniteScroll.js");
            await JsModule.InvokeVoidAsync("init", ObjRef);
        }
    }
    
    [JSInvokable]
    public async Task LoadMoreOnScroll()
    {
        if (!ApartmentsIsloading && HasMore)
        {
            await LoadMore();
            StateHasChanged();
        }
    }
    
    public async ValueTask DisposeAsync()
    {
        if (JsModule is not null && ObjRef is not null)
        {
            await JsModule.InvokeVoidAsync("unregister", ObjRef);
        }

        ObjRef?.Dispose();
        JsModule?.DisposeAsync();
    }

    private void OnListView()
    {
        IsMapView = false;
    }
    
    private void OnMapView()
    {
        IsMapView = true;
    }
}
