@page "/apartments"

<PageTitle>Apartamenty</PageTitle>

<div class="apartments-container">
    <HeaderSection ImagePath="/assets/images/header-bg-apartments.jpeg" Title="Apartamenty" Height="230px" />
    
    <div class="apartments-search-wrapper">
        <SearchBar />
    </div>
</div>


