<div class="footer">
    <div class="footer-section-logo">
        <div class="footer-logo">
            <img src="assets/svgs/logo-white.svg" alt="Rentoom - Apartamenty" class="logo-img"/>
        </div>
    </div>
    
    <div class="footer-content">
        <div class="footer-section footer-section-description border-b-r">
            <p class="footer-description">
                <b>Naszą misją jest zapewnienie</b> jak najlepszej obsługi naszych klientów, zarówno gości jak i właścicieli apartamentów. 
                Szczególnie ważne jest dla nas utrzymanie wysokiego standardu obsługi klienta oraz zapewnienie naszych gości, 
                że w naszych apartamentach będą czuli się jak w domu i mogą w każdej chwili liczyć na naszą pomoc.
            </p>
        </div>

        <div class="footer-section border-b-r">
            <h3 class="footer-title">Kontakt</h3>
            <p class="footer-text">Zadzwoń do nas: <br /><a href="mailto:info@rentoom.pl" style="color: white">info@rentoom.pl</a></p>
            <p class="footer-text">Napisz do nas: <br /><a href="tel:+48881388001" style="color: white">+48 881 388 001</a></p>
        </div>

        <div class="footer-section">
            <h3 class="footer-title">Regulaminy</h3>
            <ul class="footer-list">
                <li><a href="/regulamin" class="footer-link" >Regulamin korzystania ze strony</a></li>
                <li><a href="/polityka-prywatnosci" class="footer-link">Polityka Prywatności</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-social">
        <a href="#" aria-label="Rentoom na Facebooku"><img src="assets/svgs/fb-white.svg" alt="Facebook" class="social-icon"/></a>
        <a href="#" aria-label="Rentoom na Instagramie"><img src="assets/svgs/ig-white.svg" alt="Instagram" class="social-icon"/></a>
        <a href="#" aria-label="Rentoom na TikToku"><img src="assets/svgs/tk-white.svg" alt="TikTok" class="social-icon"/></a>
        <a href="#" aria-label="Rentoom na YouTube"><img src="assets/svgs/yt-white.svg" alt="YouTube" class="social-icon"/></a>
    </div>
</div>

<div class="footer-bottom">
    Zaprojektowane przez Bartosza Frankowskiego i Szymona Balickiego
</div>
