@inherits LayoutComponentBase
@inject Microsoft.Extensions.Hosting.IHostEnvironment HostEnvironment

<div class="layout @(HasEnvironmentBanner ? "layout--has-environment-banner" : string.Empty)">
    <EnvironmentBanner EnvironmentName="@HostEnvironment.EnvironmentName" />
    <div class="layout-container">
        <div class="menu">
            <Menu />
        </div>

        <main>
            @Body
        </main>
    </div>
    
    <Footer />
</div>

@code {
    private bool HasEnvironmentBanner => EnvironmentBannerState.ShouldDisplay(HostEnvironment.EnvironmentName);
}
