.layout {
    --environment-banner-offset: 0px;
    width: 100%;
    min-height: 50vh;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.layout--has-environment-banner {
    --environment-banner-offset: 40px;
}

.layout-container {
    width: 100%;
    max-width: 1920px;
}

.menu {
    width: 100%;
    position: fixed;
    top: var(--environment-banner-offset);
    z-index: 1000;
    /*padding: 1rem 1rem;*/
}
