@inherits LayoutComponentBase
<div class="layout">
    <div class="layout-container">
        <div class="menu">
            <Menu />
        </div>

        <main>
            @Body
        </main>
    </div>
    
    <Footer />
</div>
