nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.scrolled-nav {
    background-color: #F7F7F7;
    /*color: #1F5A41 !important;*/
}

ul {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
    margin: 0;
}

@media (max-width: 1050px) {
    ul {
        display: none;
    }
}

li {
    margin-right: auto;
}

.bar {
    display: flex;
    align-items: center;
    gap: 1rem;
}