@inherits LayoutComponentBase
@using RentoomBooking.SharedClasses.Models;
@using RentoomBooking.StayWell.States
@inject ReservationState ReservationState
@inject MediaState MediaState

@if (ReservationState.IsLoading)
{
    <div>
        <p>Ładowanie rezerwacji...</p>
    </div>
}else if (ReservationState.CurrentReservation?.Reservation == null)
{
    <div>
        <p>Nie ma takiej rezerwaji.</p>
    </div>
}
else
{
    <div class="layout-page">
        <div class="layout-header">
            <RentoomBooking.StayWell.Components.Header reservationId="@ReservationState.CurrentReservation.Reservation.id.ToString()">
            </RentoomBooking.StayWell.Components.Header>
        </div>

        <div class="layout-body">
            @Body
        </div>

        <div class="layout-footer-nav">
            <RentoomBooking.StayWell.Components.FooterNavigation>
            </RentoomBooking.StayWell.Components.FooterNavigation>
        </div>
    </div>
}

@code {

    protected override void OnInitialized()
    {
        ReservationState.OnChange += StateHasChanged;
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ReservationState.OnChange -= StateHasChanged;
    }
}