<div class="content-modal">
            <ul class="list">
                <li><input class="checkbox" type="checkbox" @bind="_windows"/><span>Zamknąłem okna</span></li>
                <li><input class="checkbox" type="checkbox" @bind="_belongings" /><span>Zabrałem swoje rzeczy</span></li>
                <li><input class="checkbox" type="checkbox" @bind="_trash" /><span>Wyrzucilem śmieci</span></li>
                <li><input class="checkbox" type="checkbox" @bind="_remote" /><span>Odłożyłem pilot od garażu</span></li>
            </ul>
            @if (_buttonState)
            {
                <p>Czy jesteś pewien że chcesz się wymeldować?</p>
                <p>Ta procedura jest nieodwracalna.</p>
            }
            <div class="button-wrapper">
            <Button Text="Wymelduj się" Disabled="!_buttonState"></Button>
            </div>
</div>

@code{
    private bool _windows;
    private bool _belongings;
    private bool _trash;
    private bool _remote;
    private bool _buttonState => _windows && _belongings && _trash && _remote;
}