.custom-button {
    border-radius: 999px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #945F28;
    outline: none;
    border: 0;
    color: white !important;
    padding: 0 2rem;
}

.secondary {
    background-color: white !important;
    border: 1px solid #8B9B8C;
    color: #1F5A41 !important;
}