@implements IAsyncDisposable
@inject IJSRuntime JS

<div id="@Id" class="dropdown-wrapper" style="@((IsFull) ? "width: 100%;" : null)">
    <div @onclick="ToggleModal" class="custom-input">
        @if (!string.IsNullOrEmpty(IconPath))
        {
            <img src="@IconPath" alt="" class="input-icon"/>
        }
        @ChildContent
    </div>

    @if (IsModalOpen)
    {
        <div class="dropdown-modal">
            @DropdownContent
        </div>
    }
</div>

@code {
    [Parameter] public string? IconPath { get; set; }
    [Parameter] public bool IsFull { get; set; } = false;
    [Parameter] public required RenderFragment ChildContent { get; set; }
    [Parameter] public RenderFragment? DropdownContent { get; set; }

    private string Id { get; } = $"dropdown-{Guid.NewGuid()}";
    private bool IsModalOpen { get; set; } = false;
    private DotNetObjectReference<InputWithModal>? objRef;

    private void ToggleModal() => IsModalOpen = !IsModalOpen;

    [JSInvokable]
    public void CloseModal()
    {
        if (IsModalOpen)
        {
            IsModalOpen = false;
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("registerClickOutside", Id, objRef);
        }
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            await JS.InvokeVoidAsync("unregisterClickOutside", Id);
        }
        catch (Exception)
        {
        }
        finally
        {
            objRef?.Dispose();
        }
    }
}