@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> Localizer;

<div class="@GetClass()">
    <DatePickerRange 
        IconPath="/assets/svgs/calendar.svg"
        @bind-StartDateValue="StartDate"
        @bind-EndDateValue="EndDate"
    />
    <InputWithModal IconPath="/assets/svgs/person.svg">
        <ChildContent>
            <div class="" style="font-size: .9rem;">
                @if (CountPersons != 0)
                {
                    <span style="color: black;">@CountPersons os.</span>
                }
                @if (string.IsNullOrEmpty(Adults) && string.IsNullOrEmpty(Children))
                {
                    <span style="color: gray;">@Localizer["NumberOfPeople"]</span>
                }
            </div>
        </ChildContent>
        <DropdownContent>
            <div>
                <h6 class="dropdown-title">Wybierz ilość osób</h6>
                <div>
                    <Input IconPath="/assets/svgs/person.svg" Placeholder="Dorośli" Type="number" @bind-Value="Adults" IsFull="true"/>
                    <Input IconPath="/assets/svgs/person.svg" Placeholder="Dzieci do lat 2" Type="number" @bind-Value="Children" IsFull="true" IsMarginTop="true"/>
                </div>
            </div>
        </DropdownContent>
    </InputWithModal>
    <Input IconPath="/assets/svgs/bed.svg" Placeholder="@Localizer["NumberOfRooms"]" Type="number" @bind-Value="Rooms"/>
    <Button @onclick="Search">@Localizer["Search"]</Button>
</div>

@code {
    [Parameter] public bool IsSticky { get; set; } = false;
    [Parameter] public string StartDate { get; set; } = "";
    [Parameter] public string EndDate { get; set; } = "";
    [Parameter] public string Adults { get; set; } = "";
    [Parameter] public string Children { get; set; } = "";
    [Parameter] public string Rooms { get; set; } = "";
    [Parameter] public EventCallback<Dictionary<string, string>> OnSearch { get; set; }
    
    private int CountPersons => 
        (int.TryParse(Adults, out var a) ? a : 0) + 
        (int.TryParse(Children, out var c) ? c : 0);

    private async Task Search()
    {
        var query = new Dictionary<string, string>
        {
            { "startDate", StartDate },
            { "endDate", EndDate },
            { "rooms", Rooms },
            { "adults", Adults },
            { "children", Children }
        };
        
        if (OnSearch.HasDelegate)
        {
            await OnSearch.InvokeAsync(query);
        }
        else
        {
            var url = QueryHelpers.AddQueryString("/apartamenty", query);
            NavManager.NavigateTo(url);
        }
    }

    private string GetClass()
    {
        if (IsSticky)
        {
            return "search-container sticky";
        }

        return "search-container";
    }
}