@using RentoomBooking.SharedClasses.Models.IdoBooking
@using RentoomBooking.SharedClasses.Models.IdoBooking.ReservationWorkflow
@using RentoomBookingWeb.Components.Features.Apartments.Components;

<div class="order-wrapper">
    @if (Apartment != null)
    {
        <div style="width: 100%;">
            <div style="margin: 0 auto; max-width: 500px;">
                <Apartment
                    Item="@Apartment"
                    Readonly="true"
                    DisableForGoToReservation="true"/>
            </div>
        </div>
    }
    else
    {
        <div style="width: 100%;">
            <div style="margin: 0 auto; max-width: 500px;">
                <Apartment 
                    Readonly="true"
                    DisableForGoToReservation="true"
                /> 
            </div>
        </div>
    }
            
    <div class="summary-box">
        <div class="form-wrapper-title">
            <div class="form-wrapper-title-icon-wrapper">
                <img src="assets/svgs/calendar-2.svg" alt="ikona uzytkownika">
            </div> 
            <div class="form-wrapper-title-text">
                <h3 class="summary-box-title">Twój pobyt</h3>
                <p class="summary-box-dates">
                    Od @(Summary?.StartRequest?.StartDate.ToString("dd.MM.yyyy") ?? "---") do @(Summary?.StartRequest?.EndDate.ToString("dd.MM.yyyy") ?? "---")
                </p>
            </div>
        </div>
        <hr style="margin: 0;">
                
        <div class="summary-box-prices">
            <div class="summary-box-prices-text">
                <span>@_pricePerNight@Summary?.StartRequest?.Currency x @_totalDays nocy</span>
                <b>@Summary?.StartRequest?.OfferPrice@Summary?.StartRequest?.Currency</b>
            </div>
        </div>
        <hr style="margin: 0;">
                
        <div class="summary-box-prices-text">
            <b style="font-size: 1.2rem;">Podsumowanie</b>
            <b style="font-size: 1.2rem;">@Summary?.StartRequest?.OfferPrice@Summary?.StartRequest?.Currency</b>
        </div>
    </div>
</div>

@code
{
    [Parameter] public ReservationSummaryDto? Summary { get; set; }
    [Parameter] public ApartmentObject? Apartment { get; set; }
    
    private int _totalDays;
    private decimal _pricePerNight;

    protected override async Task OnInitializedAsync()
    {
        var start = Summary?.StartRequest?.StartDate;
        var end = Summary?.StartRequest?.EndDate;

        if (start != null && end != null)
        {
            _totalDays = end.Value.DayNumber - start.Value.DayNumber;
                
            if (_totalDays <= 0) _totalDays = 1;

            if (Summary?.OfferPrice != null)
            {
                _pricePerNight = Math.Round(Summary.OfferPrice.Value / _totalDays, 2);
            }
        }
    }
}
