<!DOCTYPE html>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (!Environment.IsProduction())
    {
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet" />
    }
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RentoomBookingWeb.styles.css" />
    <link rel="icon" type="image/svg" href="assets/svgs/logo-sygnet.svg" />
    
    @if (Environment.IsProduction())
    {
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KQ34PTLN');</script>
        <!-- End Google Tag Manager -->

        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KWEKWNRM9H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-KWEKWNRM9H');
        </script>
    } else{//dev

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GJD8GQWLCY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-GJD8GQWLCY');
        </script>


    }

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    @if (Environment.IsProduction())
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQ34PTLN"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
<Routes @rendermode="InteractiveServer" />

<!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    
    <script src="js/mapInterop.js"></script>
    <script src="js/cookieConsentInterop.js"></script>
    
    <script src="js/scrollObserver.js"></script>
    
    <script src="_framework/blazor.web.js"></script>
    
    <script type="module">
        import { setCultureCookieAndReload } from './js/cultureManager.js';
        setCultureCookieAndReload(".AspNetCore.Culture");
    </script>
    
    <script>
    window.clickListeners = {};

    window.registerClickOutside = (elementId, dotnetHelper) => {
        const listener = (e) => {
            const el = document.getElementById(elementId);
            if (el && !el.contains(e.target)) {
                try {
                    dotnetHelper.invokeMethodAsync("CloseModal")
                        .catch(() => {});
                } catch (e) {}
            }
        };
        window.clickListeners[elementId] = listener;
        window.addEventListener("click", listener);
    };

    window.unregisterClickOutside = (elementId) => {
        const listener = window.clickListeners[elementId];
        if (listener) {
            window.removeEventListener("click", listener);
            delete window.clickListeners[elementId];
        }
    };
    
    </script>
    
    </body>

</html>
