<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="RentoomBookingWeb.styles.css" />
    <link rel="icon" type="image/svg" href="assets/svgs/logo-sygnet.svg" />
    
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
<Routes @rendermode="InteractiveServer" />

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    
    <script src="js/mapInterop.js"></script>
    
    <script src="_framework/blazor.web.js"></script>
    
    <script type="module">
        import { setCultureCookieAndReload } from './js/cultureManager.js';
        setCultureCookieAndReload(".AspNetCore.Culture");
    </script>
    
    <script>
    window.scrollToElement = (elementId) => {
        var element = document.getElementById(elementId);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'center' });
        }
    }

    window.registerClickOutside = (elementId, dotnetHelper) => {
        window.addEventListener("click", (e) => {
            const el = document.getElementById(elementId);
            if (el && !el.contains(e.target)) {
                dotnetHelper.invokeMethodAsync("CloseModal");
            }
        });
    };
    
    </script>
    </body>

</html>