@page "/"
@using RentoomBookingWeb.Components.Features.Home.Components

<PageTitle>Home</PageTitle>

<div class="home-container">
    <HeroSection/>
    <StatsSection/>
    <CitySection/>
    <ApartmentsSection/>
    <WhyRentoomSection/>
    <PackagesSection/>
    <OpinionsSection/>
    <ContactSection/>
</div>