@page "/"
@using RentoomBookingWeb.Components.Features.Home.Components
@using RentoomBookingWeb.Components.Features.Apartments.Components

<PageTitle>Home</PageTitle>

<div class="home-container">
    <HeroSection />
    <StatsSection />
    <CitySection />
    <Slider ItemsPerPage="3">
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
        <Item>
            <Apartment />
        </Item>
    </Slider>
    <WhyRentoomSection />
</div>