@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.SharedClasses.Services;
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@inject IdoSellService IdoSellService;
@inject NavigationManager Navigation;

<article @onclick="GoToApartment" class="apartment-card" itemscope itemtype="https://schema.org/Apartment">
    <header>
        @if (_objectMediumFirst == null)
        {
            <img 
                src="@ImageUrl"
                alt="Przykladowy apartament"
                title="Przykladowe zdjecie"
                itemprop="photo"
                class="apartment-image" 
            />
        }
        else
        {   
            <div class="image-wrapper">
                <img 
                    src="@_objectMediumFirst.Url"
                    alt="@Item?.Name"
                    title="@Item?.Name"
                    itemprop="photo"
                    class="apartment-image" 
                />
            </div>
        }
    </header>

    <div class="apartment-info">
        <h2 itemprop="name">@Item?.Name</h2>
        <p class="apartment-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress">@Item?.ObjectLocation?.LocalizationItem?.Street</span>, 
            <span itemprop="postalCode">@Item?.ObjectLocation?.LocalizationItem?.ZipCode</span> 
            <span itemprop="addressLocality">@Item?.ObjectLocation?.LocalizationItem?.City</span>
        </p>

        <ul class="apartment-details">
            <li>
                <img src="assets/svgs/users.svg" alt="Liczba osób" class="icon" />
                <span itemprop="occupancy">@Item?.MinCapacity - @Item?.Capacity</span>
            </li>
            <li>
                <img src="assets/svgs/bed.svg" alt="Liczba łóżek" class="icon" />
                @BedsCount
            </li>
            <li>
                <img src="assets/svgs/bath.svg" alt="Liczba łazienek" class="icon" />
                1
            </li>
            <li>
                <img src="assets/svgs/m2.svg" alt="Powierzchnia apartamentu" class="icon" />
                <span itemprop="floorSize">@Item?.Area m²</span>
            </li>
        </ul>

        <div class="apartment-button-wrapper">
            <Button>Rezerwacja</Button>
        </div>
    </div>
</article>

@code {
    [Parameter] public string ImageUrl { get; set; } = "assets/images/rent.jpeg";
    [Parameter] public ApartmentObject? Item { get; set;} = null;
    private int? BedsCount = null;
    private List<ObjectMedium>? _objectMediums = null;
    private ObjectMedium? _objectMediumFirst = null;
    
    protected override async Task OnInitializedAsync()
    {
        BedsCount = Item?.BedsConfiguration?.Sum(item => item.Count);
        await GetObjectMedia();
    }

    
    private async Task GetObjectMedia()
    {
        var idString = Item?.Id;
        if (!string.IsNullOrEmpty(idString) && int.TryParse(idString, out int id))
        {
            _objectMediums = await IdoSellService.FetchObjectMediaFromIdoSellAsync(id) ?? new List<ObjectMedium>();
            _objectMediumFirst = _objectMediums.FirstOrDefault();
        }
    }
    
    private void GoToApartment()
    {
        if (Item != null && int.TryParse(Item.Id, out int id))
        {
            Navigation.NavigateTo($"/apartments/{id}");
        }
    }
}