@using RentoomBooking.SharedClasses.Models.IdoBooking
@using RentoomBooking.SharedClasses.Models.IdoBooking.Public
@using RentoomBooking.SharedClasses.Services.IdoBooking
@using Microsoft.JSInterop
@inject IApartmentsService ApartmentsApiService
@inject IIdoApartmentService IdoApartmentService
@inject IJSRuntime JSRuntime
@using RentoomBookingWeb.Helpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RentoomBookingWeb.Apartments> Localizer;
@inject IStringLocalizer<RentoomBookingWeb.Currency> CurrencyLocalizer;

<div id="map" class="map-container"></div>

@code {
    [Parameter] public List<PricingOffer> Offers { get; set; } = new();
    [Parameter] public Boolean IsSearch { get; set; } = false;
    [Parameter] public String? StartDate { get; set; } = null;
    [Parameter] public String? EndDate { get; set; } = null;
    [Parameter] public String? Adults { get; set; } = null;
    [Parameter] public String? Children { get; set; } = null;
    private List<ApartmentObject> Items { get; set; } = new();
    private DotNetObjectReference<ApartmentsMap>? _objRef;

    public class Marker
    {
        public float? Lat { get; set; }
        public float? Lng { get; set; }
        public string Popup { get; set; } = "";
        public string? Id { get; set; }
        public DotNetObjectReference<ApartmentsMap>? ObjRef { get; set; }
        public bool HasOffer { get; set; }
        public decimal? Price { get; set; }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/mapInterop.js");
            _objRef = DotNetObjectReference.Create(this);

            await JSRuntime.InvokeVoidAsync("leafletMap.createMap", "map", 53.012217, 18.607378, 14);

            await LoadApartmentsAndMarkers();
        }
        else
        { 
            await JSRuntime.InvokeVoidAsync("leafletMap.refreshMap");
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Items.Count > 0)
        {
            await SetupMarkers();
        }
    }

    private async Task LoadApartmentsAndMarkers()
    {
        await GetAllApartments();

        if (Items.Count > 0)
        {
            await SetupMarkers();
        }
    }

    private async Task GetAllApartments()
    {
        try
        {
            var page = await ApartmentsApiService.GetAllApartmentsList();
            Items = page?.Items?.ToList() ?? new List<ApartmentObject>();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            Items.Clear();
        }
    }

    private async Task SetupMarkers()
    {
        await JSRuntime.InvokeVoidAsync("leafletMap.clearMarkers");
        
        var loadingText = Localizer["Loading"];
        var bookNowText = Localizer["BookNow"];

        var markers = Items
            .Where(i => !IsSearch || GetPricingOfferByObjectId(i.Id) != null)
            .Where(i => i?.ObjectLocation?.LocalizationItem != null)
            .Select(i =>
            {
                var detailsUrl = $"/apartamenty/{i.Id}/{i.Name?.ToSlug()}";

                if (!string.IsNullOrEmpty(StartDate) && !string.IsNullOrEmpty(EndDate))
                {
                    detailsUrl += $"/{StartDate}/{EndDate}";

                    if (!string.IsNullOrEmpty(Adults))
                    {
                        detailsUrl += $"/{Adults}";

                        if (!string.IsNullOrEmpty(Children))
                        {
                            detailsUrl += $"/{Children}";
                        }
                    }
                }

                var offer = GetPricingOfferByObjectId(i.Id);
                return new Marker
                {
                    Lat = i?.ObjectLocation?.LocalizationItem?.GeoLocationLat,
                    Lng = i?.ObjectLocation?.LocalizationItem?.GeoLocationLng,
                    Popup = $@"
<div id='popup-{i?.Id}' style='position: relative; background-color: white; border-radius: .5rem; box-shadow: 0 1px 4px rgba(0,0,0,0.3);'>
    <div style='display: flex; flex-direction: column; gap: .4rem;'>
        <div class='popup-img-target' style='height: 130px; width: 100%; display: flex; align-items: center; justify-content: center; background: #f3f3f3; border-radius: .5rem .5rem 0 0;'>
            <span>{loadingText}...</span>
        </div>
        <div style='padding: .3rem 1rem 1rem 1rem; display: flex; flex-direction: column; gap: .5rem;'>
            <strong>{i?.Name}</strong>
            <div>
                <span>{i?.ObjectLocation?.LocalizationItem?.Street}</span>
                <span>{i?.ObjectLocation?.LocalizationItem?.ZipCode}</span>
                <span>{i?.ObjectLocation?.LocalizationItem?.City}</span>
            </div>
            <div style=""display: flex; gap: .5rem;"">
                 <div>
                    <span class=""gicon map-popup-icon"" aria-label=""Liczba osób"">groups</span>
                    <span>{i.MinCapacity} - {i.Capacity}</span>
                </div>
                <div>
                    <span class=""gicon map-popup-icon"" aria-label=""Liczba łóżek"">bed</span>
                    <span>{SumBedByItem(i)}</span>
                </div>
                <div>
                    <span class=""gicon map-popup-icon"" aria-label=""Liczba łazienek"">bathtub</span>
                    <span>1</span>
                </div>
                <div>
                    <span class=""gicon map-popup-icon"" aria-label=""Powierzchnia apartamentu"">square_foot</span>
                    <span>{i.Area}</span>
                </div>
            </div>

            <span>{getMinimalPrice(i.Id)}</span>            

            <div style='width: 100%; display: flex;'>
                <a href='{detailsUrl}' style='display: flex; align-items: center; justify-content: center; width: 100%; padding: .4rem 1rem; background-color: rgba(148, 95, 40, 0.7); color: white; border-radius: 5px; cursor: pointer; text-decoration: none;'>
                    {bookNowText}
                </a>
            </div>
        </div>
    </div>
    <div style='position: absolute; bottom: -10px; left: 50%; transform: translateX(-50%); width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid white;'></div>
</div>",
                    Id = i.Id.ToString(),
                    ObjRef = _objRef,
                    HasOffer = offer != null,
                    Price = offer?.MinimalPrice,
                };
            })
            .ToList();

        await JSRuntime.InvokeVoidAsync("leafletMap.addMarkers", markers, IsSearch);
    }

    [JSInvokable]
    public async Task<string> OnMarkerClicked(string id)
    {
        var media = await GetObjectMedia(int.Parse(id));
        return media?.Url ?? "";
    }

    private async Task<ObjectMedium?> GetObjectMedia(int id)
    {
        var mediums = await IdoApartmentService.GetObjectMediaFromIdoSellAsync(id) ?? new List<ObjectMedium>();
        return mediums.FirstOrDefault();
    }

    public void Dispose()
    {
        _objRef?.Dispose();
    }

    private PricingOffer? GetPricingOfferByObjectId(int objectId)
        => Offers.Find(o => o.ObjectId == objectId);

    private int SumBedByItem(ApartmentObject apartment)
    {
        return (int)apartment?.BedsConfiguration?.Sum(item => item.Count)!;
    }

    private string getMinimalPrice(int id)
    {
        return GetPricingOfferByObjectId(id) != null ? $"Cena za pobyt: {GetPricingOfferByObjectId(id)?.MinimalPrice}" + " " +  @CurrencyLocalizer["PLN"] : "";
    }
}
