<article class="apartment-card" itemscope itemtype="https://schema.org/Apartment">
    <header>
        <img src="@ImageUrl"
             alt="Apartament Ralf w Toruniu - salon z zieloną sofą"
             title="Apartament Ralf w centrum Torunia"
             itemprop="photo"
             class="apartment-image" />
    </header>

    <div class="apartment-info">
        <h2 itemprop="name">Apartament Ralf</h2>
        <p class="apartment-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="streetAddress">Kazimierza Jagiellończyka 8</span>, 
            <span itemprop="postalCode">87-100</span> 
            <span itemprop="addressLocality">Toruń</span>
        </p>

        <ul class="apartment-details">
            <li>
                <img src="assets/svgs/users.svg" alt="Liczba osób" class="icon" />
                <span itemprop="occupancy">4</span>
            </li>
            <li>
                <img src="assets/svgs/bed.svg" alt="Liczba sypialni" class="icon" />
                2
            </li>
            <li>
                <img src="assets/svgs/bath.svg" alt="Liczba łazienek" class="icon" />
                1
            </li>
            <li>
                <img src="assets/svgs/m2.svg" alt="Powierzchnia apartamentu" class="icon" />
                <span itemprop="floorSize">30 m²</span>
            </li>
        </ul>

        <div class="apartment-button-wrapper">
            <Button>Rezerwacja</Button>
        </div>
    </div>
</article>

@code {
    [Parameter] public string ImageUrl { get; set; } = "assets/images/rent.jpeg";
}