.filters-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #C1C1C1;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    align-self: flex-start;
    position: sticky;
    top: 100px;
    border-radius: .5rem;
}

.filters-title {
    width: 100%;
    text-align: center;
}

@media (max-width: 1400px) {
    .filters-container {
        max-width: 340px;
    }
}

.filters {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.filter-option {
    user-select: none;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .2rem .7rem;
    border-radius: .5rem;
    transition: .2s background-color ease;
}

.filter-option > label
{
    margin-left: -1rem;
    cursor: pointer;
    width: 100%;
    padding: .2rem 0;
}

.selected {
    background-color: #e1c3b2;
}

.selected:hover {
    background-color: #e1c3b2 !important;
}

.filter-icon {
    width: 40px;
    height: 40px;
}

@media (max-width: 800px) {
    .filters-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        top: 0;
        flex-direction: row;
        gap: .5rem;
    }
    
    .filters {
        flex-direction: row;
        gap: .5rem;
    }

    .filters-title {
        display: none;
    }

    .filter-option {
        display: inline-flex;
        white-space: nowrap;
    }
}

.filter-option:hover
{
    background-color: #e8d3c1;
}