@page "/reservation/{token}/AboutReservationPage"
@using RentoomBooking.StayWell.Components
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.StayWell.States
@inject NavigationManager Navigation
@inherits Models.PageBase

<PageTitle>About Reservation</PageTitle>

<div class="page-info-wrapper">
    <PageInfo Title="@Data?.Reservation?.Reservation.Items.FirstOrDefault()?.objectName" Subtitle="O rezerwacji"></PageInfo>
</div>

<div class="amenities-wrapper"> @* ---- Zmontować z tego komponenty i uporządkować ---- *@
    <div class="amenity">
        <span><img src="/icons/users.svg"/>Założyciel rezerwacji:</span>
        <span class="text">@Data?.Reservation?.Reservation.Client.FirstName @Data?.Reservation?.Reservation.Client.LastName</span>
    </div>
    <div class="amenity">
        <span><img src="/icons/wifi.svg" />Wifi:</span>
        <span class="text">login</span>
        <span class="text">password</span>
    </div>
    @if (Data?.Amenities?.Count >= 1)
    {
        <div class="amenity">
                <span><img src="/icons/bed-double.svg"/>Wyposażenie apartamentu:</span>
                <button @onclick="ShowAmenities">@(showAmenities ? "Ukryj wyposażenie":"Pokaż wyposażenie")</button>
                @if (showAmenities)
                {
                    <ul>
                        @foreach (var amenity in Data.Amenities)
                        {
                            <li>@amenity.Name</li>
                        }
                    </ul>
                }

            </div>
    }
    <div class="amenity">
        <span><img src="/icons/file-user.svg"/>Regulamin:</span>
        <button>Wyświetl cały regulamin</button>
    </div>
</div>

@code{

    private bool showAmenities = false;

    private void ShowAmenities()
    {
        showAmenities = !showAmenities;
    }



}
