@page "/ContactUsPage"


<PageTitle>Contact Us</PageTitle>

<div class="page-info-wrapper">
    <RentoomBooking.StayWell.Components.PageInfo Title="apartment-name" Subtitle="Skontaktuj się z nami"></RentoomBooking.StayWell.Components.PageInfo>
</div>

<div class="description-wrapper">
    <RentoomBooking.StayWell.Components.Description DescriptionText="Jeśli masz pytania lub potrzebujesz pomocy, skontaktuj się z nami poprzez jeden z poniższych kanałów. Jesteśmy tutaj, aby Ci pomóc!">
        <Icon><img src="/icons/info.svg"/></Icon>
    </RentoomBooking.StayWell.Components.Description>
</div>

<div class="buttons-wrapper">
    <RentoomBooking.StayWell.Components.Button Text="WhatsApp">
        <Icon>
            <img src="/icons">
        </Icon>
    </RentoomBooking.StayWell.Components.Button>
    <RentoomBooking.StayWell.Components.Button Text="info@rentoom.pl">
        <Icon>
            <img src="/icons">
        </Icon>
    </RentoomBooking.StayWell.Components.Button>
        <RentoomBooking.StayWell.Components.Button Text="+48 xxx-xxx-xxx">
        <Icon>
            <img src="/icons">
        </Icon>
    </RentoomBooking.StayWell.Components.Button>
</div>