@page "/reservation/{token}/ContactUsPage"
@using RentoomBooking.StayWell.Components
@using RentoomBooking.StayWell.States

@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<ContactUsPage> Localizer


@inherits Models.PageBase

<PageTitle>Contact Us</PageTitle>

@* TODO WAŻNE *@
@* Wyłączyć Footer jeżeli niewypełniona jest karta meldunkowa *@

<div class="page-info-wrapper">
    <PageInfo Title="@ReservationState.CurrentReservation?.Reservation.Items.FirstOrDefault()?.objectName" Subtitle="@Localizer["ContactUs"]"></PageInfo>
</div>

<div class="description-wrapper">
    <Description>
        <DescriptionContent>
            <img src="/icons/info.svg"/>
            <span>
                @Localizer["Description"]
            </span>
        </DescriptionContent>
    </Description>
</div>

<div class="buttons-wrapper">
    <Button Text="WhatsApp">
        <Icon>
            <img src="/icons/whats-app.svg">
        </Icon>
    </Button>
    <Button Text="info@rentoom.pl">
        <Icon>
            <img src="/icons/mail.svg">
        </Icon>
    </Button>
        <Button Text="+48 xxx-xxx-xxx">
        <Icon>
            <img src="/icons/phone.svg">
        </Icon>
    </Button>
</div>
