@page "/ContactUsPage"
@using RentoomBooking.StayWell.Components


<PageTitle>Contact Us</PageTitle>

<div class="page-info-wrapper">
    <PageInfo Title="Szeroka Premier No 2A" Subtitle="Skontaktuj się z nami"></PageInfo>
</div>

<div class="description-wrapper">
    <Description>
        <DescriptionContent>
            <img src="/icons/info.svg"/>
            <span>
                Nasze wsparcie dostępna jest od poniedziałku do niedzieli 08:00 - 22:00
            </span>
        </DescriptionContent>
    </Description>
</div>

<div class="buttons-wrapper">
    <Button Text="WhatsApp">
        <Icon>
            <img src="/icons/whats-app.svg">
        </Icon>
    </Button>
    <Button Text="info@rentoom.pl">
        <Icon>
            <img src="/icons/mail.svg">
        </Icon>
    </Button>
        <Button Text="+48 xxx-xxx-xxx">
        <Icon>
            <img src="/icons/phone.svg">
        </Icon>
    </Button>
</div>