@page "/Error"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ErrorPage> Localizer

<div class="w-100 h-100 text-center">
    <h3>@Localizer["Title"]</h3>
    <p>@Localizer["ReservationNotFound"]</p>
    <p>@Localizer["UseReceivedLink"]</p>
</div>

@code {

}
