@page "/Error"
<div class="w-100 h-100 text-center">
    <h3>Error Błąd</h3>
    <p>Rezerwacja o takim tokenie nie istnieje.</p>
    <p>Proszę skorzystaj z linku który otrzymałeś.</p>
</div>

@code {

}
