@page "/reservation/{token}/FarewellPage"

@inherits Models.PageBase

<div class="main-wrapper">

    <p>Hej, @ReservationState.CurrentReservation.Reservation.Client.FirstName</p>
</div>


@code {

}
