@page "/reservation/{token}/FarewellPage"
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<FarewellPage> Localizer

@inherits Models.PageBase

<div class="main-wrapper">
    <p>@Localizer["Greeting"] @ReservationState.CurrentReservation.Reservation.Client.FirstName</p>
</div>


@code {

}
