@page "/reservation/{Token}/loyalty-programme"
@inherits Models.PageBase

<PageTitle>StayWell - Loyalty Programme</PageTitle>

<div class="loyalty-programme-page">
    <img src="/images/rentoom_staywell_loyality_programme.png" alt="Rentoom StayWell Loyalty Programme" />
</div>
