@page "/reservation/{token}/ManageStayPage"
@using RentoomBooking.StayWell.Components
@using RentoomBooking.StayWell.States
@inject NavigationManager Navigation
@inherits Models.PageBase

<PageTitle>Manage Stay</PageTitle>

<section class="reservation-section">
    <div class="reservation-section__content">
        <div class="manage-grid">
            <ManageTile Category="Pomoc"
                        Title="Zgłoś problem"
                        Icon="/icons/frown.svg"
                        Description="Usterka, pytanie lub prośba do obsługi."
                        ShowPrice="false"
                        OnClick="@(() => Navigation.NavigateTo($"reservation/{Token}/ReportPage"))" />

            <ManageTile Category="Usługi"
                        Title="Dodatkowe sprzątanie"
                        Icon="/icons/brush-cleaning.svg"
                        Description="Zamów sprzątanie w trakcie pobytu."
                        ShowPrice="true"
                        PriceText="+ 90,00 zł"
                        PriceInfo="za każde zamówienie" />

            <ManageTile Category="Usługi"
                        Title="Łóżeczko dziecięce"
                        Icon="/icons/baby.svg"
                        Description="Dodaj wyposażenie dla dziecka."
                        ShowPrice="true"
                        PriceText="+ 50,00 zł"
                        PriceInfo="jednorazowo" />

            <ManageTile Category="Check-in / check-out"
                        Title="Wcześniejszy check-in"
                        Icon="/icons/alarm-clock-check.svg"
                        Description="Sprawdź dostępność wcześniejszego zameldowania."
                        ShowPrice="true"
                        PriceText="Od + 60,00 zł"
                        PriceInfo="w zależności od godziny" />

            <ManageTile Category="Check-in / check-out"
                        Title="Późniejszy check-out"
                        Icon="/icons/alarm-clock-minus.svg"
                        Description="Sprawdź dostępność późniejszego wymeldowania."
                        ShowPrice="true"
                        PriceText="Od + 60,00 zł"
                        PriceInfo="w zależności od godziny" />

            <ManageTile Category="Pobyt"
                        Title="Przedłuż pobyt"
                        Icon="/icons/calendar-plus.svg"
                        Description="Opcja chwilowo niedostępna."
                        ShowPrice="true"
                        PriceText=""
                        PriceInfo="niedostępne" />
        </div>
    </div>
</section>

@code{
}