.page-info-wrapper {
    width: 100%;
    background-color: white;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    margin: 2rem 0;
}

img{
    transform: translateY(-2px);
}