@page "/OpenApartmentPage"

<PageTitle>OpenApartmentPage</PageTitle>

<div class="page-info-wrapper">
    <RentoomBooking.StayWell.Components.PageInfo Title="Szeroka Premier No 2A" Subtitle="Otwórz apartament"></RentoomBooking.StayWell.Components.PageInfo>
</div>

<div class="description-wrapper">
    <RentoomBooking.StayWell.Components.Description>
        <Icon><img src="/icons/info.svg" /></Icon>
        <DescriptionContent>
            <span>Jeżeli dostępne, <img src="/icons/radio.svg"/> 
                <span style="font-weight: bold">Otwórz zdalnie</span> drzwi pozwala na otwieranie drzwi bez potrzeby wpisywania kodu.
                Wystarczy wcisnąć przycisk.</span>
        </DescriptionContent>
    </RentoomBooking.StayWell.Components.Description>
    <RentoomBooking.StayWell.Components.Description DescriptionText="Indywidualny kod jest zawszę funkcjonalny niezależnie od dostępności zdalnego otwierania drzwi.">
        <Icon><img src="/icons/binary.svg" /></Icon>
    </RentoomBooking.StayWell.Components.Description>
</div>

<div class="buttons-wrapper">
    <RentoomBooking.StayWell.Components.Button Text="Otwórz drzwi zdalnie" ButtonStyle="margin-bottom: 30px;">
        <Icon>
            <img src="/icons/radio.svg">
        </Icon>
    </RentoomBooking.StayWell.Components.Button>

    <RentoomBooking.StayWell.Components.Description>
        <DescriptionContent>
            <div style="font-weight: bold;">
                <img src="/icons/binary.svg"/>
            Twój indywidualny kod do apartamentu:</div>
        </DescriptionContent>
    </RentoomBooking.StayWell.Components.Description>

    <div style="font-size: calc(0.25vw + 1.25rem);">
        <span style ="font-weight: bold">567850</span> 
        potwierdź
        <span style="font-weight: bold">#</span>
        lub
        <img src="/icons/key-round.svg" />
    </div>

</div>
