@page "/PartnerPage"
@using RentoomBooking.StayWell.Components
@inject NavigationManager Navigation

<PageTitle>Partner Page</PageTitle>

    <div class="image-wrapper">
    <ApartmentImage Source="https://scontent-waw2-2.xx.fbcdn.net/v/t51.75761-15/485733286_17971326416840429_1605928777056025707_n.jpg?stp=dst-jpegr_tt6&_nc_cat=106&ccb=1-7&_nc_sid=127cfc&_nc_ohc=3Xc3Y4kQ0pkQ7kNvwFUjzd9&_nc_oc=Adkf0Q98mIziOvGO8fSq8-AJhkUnK2f3rWhJwWr1UW-2D9_OyoZWdnnTdT2MH16zIZE&_nc_zt=23&se=-1&_nc_ht=scontent-waw2-2.xx&_nc_gid=lDTST2cnO_9fwBAk5jvSZg&oh=00_AfaY3u7VQs4rK8z5HfMGTIH725EnhGwrJQsXw6ab7V3uug&oe=68D76EFD">

        </ApartmentImage>
    </div>


<div class="partner-info-wrapper">
    <PartnerInfo
    partnerName="Dom Pizzy i Tapas"
    partnerAdress="Leona Szumana 1"
    offer="-20%, dzieci za darmo"
    >
    </PartnerInfo>
</div>

<div class="offer-wrapper">
    <span class="offer">
        -10%
    </span>
</div>

<div class="description"> 
    <span>
        Dom Pizzy i Tapas to miejsce, w którym celebrujemy każdą okazję – od rodzinnych uroczystości, przez spotkania ze znajomymi, aż po wydarzenia biznesowe.
        Hiszpańska kuchnia, aromatyczne wina i wyjątkowa atmosfera sprawiają, że każdy moment tutaj nabiera szczególnego smaku.
        -10% tylko dla gości Rentoom!
    </span>
</div>
