.title {
    position: relative;
    font-size: 1.7rem;
    font-weight: 600;
    /*    padding: 0 0 0 10px;*/
    text-align: center;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #965f28;
    border-radius: 15px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
    color: #f7f7f7;
    z-index: 1;
}

.img-wrap{
    margin-bottom: 10px;
}

.labels {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    width: 100%;
    gap: 8px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.labels::-webkit-scrollbar {
    display: none;
}

    .labels .label {
        background-color: #a97949;
        color: #f7f7f7;
        font-weight: 600;
        font-size: 0.8rem;
        padding: 8px 10px;
        border-radius: 15px;
        text-wrap: nowrap;
    }

    .labels .action {
        background-color: #8b9c8c;
        padding: 8px 10px;
        border-radius: 15px;
        color: #f7f7f7;
    }

        .labels .action img {
            filter: invert();
        }

.instagram-gradient {
    background: #833ab4;
    background: linear-gradient( to right, #833ab4,#fd1d1d,#fcb045 );
}

.description {
    margin-top: 15px;
    padding: 10px;
    background-color: #8b9c8c;
    border-radius: 15px;
    color: #f7f7f7;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
}

.offer-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #21573e;
    min-height: 100px;
    height: auto;
    border-radius: 15px;
    justify-content: center;
    padding: 15px 20px;
    gap: 0;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.10);
}

.offer-wrap .offer {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 15px;
    width: 100%;
}

.offer-wrap .staff {
    border-top: 1px solid white;
    margin: 0;
    color: white;
    font-size: 0.9rem;
    text-align: center;
    opacity: 0.9;
    width: 100%;
    padding-top: 10px;
}
