@page "/reservation/{token}/PartnerPage"
@using RentoomBooking.StayWell.Components
@inject NavigationManager Navigation

@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<PartnerPage> Localizer

@inherits Models.PageBase

<PageTitle>Partner Page</PageTitle>

<div class="title">
    Dom Pizzy i Tapas
</div>

<Carousel ImageUrls="@urls" TransitionIntervalMs="3500" UseTimer="@true" UseSmartGlow="@false"/>


<div class="labels">
    <div class="label">
        🍕 pizza
    </div>
    <div class="label">
        🍝 pasta
    </div>
    <div class="label">
        🥘 tapas
    </div>
    <div class="label">
        🍲 zupy
    </div>
    <div class="label">
        🍰 desery
    </div>
</div>

<div class="offer-wrap">
    <div class="offer">
        -10% na całe menu
    </div>
    <div class="img-wrap">
        <img src="images/qr-code.png"/>
    </div>
    <div class="staff">
        Pokaż ten ekran obsłudze
    </div>
</div>

<div class="description">
    Nasz ogródek to więcej niż tylko miejsce przy stole! ✨
    To przestrzeń, gdzie można delektować się pysznym jedzeniem na świeżym powietrzu, a później rozsiąść się wygodnie na kanapie z koktajlem w dłoni.
    Zapraszamy – czekamy właśnie na Was! 🍕🍹☀️
</div>

<div class="labels">
    <div class="action">
        <span><img src="/icons/map-pin.svg"/>Leona Szumana 1</span>
    </div>
    <div class="action" style="background-color: #3b5998">
        <img src="/icons/facebook.svg"/>
    </div>
    <div class="action instagram-gradient">
        <img src="/icons/instagram.svg" />
    </div>
    <div class="action">
        <img src="/icons/globe.svg" />
    </div>
</div>

@code{

    private string[] urls = ["/images/test_images/pic1.jpg", "/images/test_images/pic2.jpg", "/images/test_images/pic3.jpg"];

}
