@page "/reservation/{token}/RegistrationCardPage"
@using RentoomBooking.StayWell.Components
@using RentoomBooking.StayWell.States
@using RentoomBooking.StayWell.Models
@using RentoomBooking.SharedClasses.Models.StayWell
@using RentoomBooking.SharedClasses.Models.Database.EFEntitites

@* @inject IStringLocalizer<InstructionsPage> Localizer *@
@inject Services.ModalService ModalService
@inject Services.ToastService ToastService
@inject States.ReservationState ReservationState
@inject States.RegistrationCardState RegistrationCardState

@implements IDisposable

@inherits Models.PageBase

<PageTitle>Karta Meldunkowa</PageTitle>

<div class="page-info-wrapper">
    <PageInfo Title="Karta Meldunkowa" Subtitle="Wypełnij potrzebne informacje."></PageInfo>
</div>

<div class="description-wrapper">
    <Description>
        <Icon><img src="/icons/info.svg" /></Icon>
        <DescriptionContent>
            <span style="font-size: 0.9rem">
                Witaj, @ReservationState?.CurrentReservation?.Reservation?.Client?.FirstName. Zanim otrzymasz dostęp do swojej aplikacji, prosimy o wypełnienie Karty Meldunkowej!
            </span>
        </DescriptionContent>
    </Description>
</div>

<div class="mail-wrapper">
    <label class="mail-input-title" for="email">Podaj swój adres mailowy</label>
    <input class="editform-input" id="email" type="email" placeholder="adres mail" @bind="_mail" />
</div>

<div class="form-buttons">
    <Button OnClick="SelectTime" ButtonStyle="padding: 25px 12px !important;">
        <RenderFragment>
            @if (_checkInTime is null)
            {
                <span>Wybierz godzinę zameldowania</span>
            }
            else
            {
                <span>Zmień godzinę z @_checkInTime.Value.ToString(@"hh\:mm")</span>
            }
        </RenderFragment>
    </Button>

    <Button OnClick="FillGuestInfo" ButtonStyle="padding: 25px 12px !important;">
        <RenderFragment>
            @if (AreGuestsFilled())
            {
                <span>Zmień dane gości</span>
            }
            else
            {
                <span>Uzupełnij dane gości</span>
            }
        </RenderFragment>
    </Button>
</div>

<div class="next-wrapper">
    @if (IsFormSet())
    {
        <span class="info">
            <img src="/icons/info.svg" /> Wciskając poniższy przycisk potwierdzam poprawność danych.
        </span>
    }

    <Button Disabled="!IsFormSet()" OnClick="SaveAndNavigate">
        <RenderFragment>
            <span>Zapisz i przejdź dalej &#10140;</span>
        </RenderFragment>
    </Button>
</div>

@code {
    private string? _mail;
    private TimeSpan? _checkInTime;

    private List<RegistrationCardGuestModel> _guests = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LayoutState.ShowFooter = false;

        int adults = ReservationState?.CurrentReservation?.Reservation?.Items?.FirstOrDefault()?.numberOfAdults ?? 1;

        if (RegistrationCardState.CurrentCard?.GuestsData?.Any() == true)
        {
            _guests = RegistrationCardState.CurrentCard.GuestsData;
            _mail = RegistrationCardState.CurrentCard.ContactEmail;
        }
        else
        {
            _guests = Enumerable.Range(0, adults).Select(_ => new RegistrationCardGuestModel()).ToList();
        }
    }

    private void SelectTime()
    {
        ModalService.ShowModal(
            "Wybierz szacowaną godzinę zameldowania",
            @<RentoomBooking.StayWell.Components.ModalContent.TimeSelectorContent @bind-value="_checkInTime" />
        );
    }

    private void FillGuestInfo()
    {
        ModalService.ShowModal("Uzupełnij dane gości",
            @<RentoomBooking.StayWell.Components.ModalContent.FillGuestDataContent InitialGuests="@_guests"
                                                                      OnConfirm="@HandleGuestsConfirmed" />
        );
    }

    private void HandleGuestsConfirmed(List<RegistrationCardGuestModel> updatedGuests)
    {
        _guests = updatedGuests;
        StateHasChanged();
    }

    private bool AreGuestsFilled()
    {
        return _guests.Any(g => !string.IsNullOrWhiteSpace(g.FirstName) && !string.IsNullOrWhiteSpace(g.LastName));
    }

    private bool IsFormSet()
    {
        if (string.IsNullOrWhiteSpace(_mail)) return false;
        if (_checkInTime == null) return false;
        if (!AreGuestsFilled()) return false;
        return true;
    }

    private async Task SaveAndNavigate()
    {
        if (!IsFormSet()) return;
        if (ReservationState.CurrentToken == null) return;

        try
        {
            var checkInDateTime = DateTime.UtcNow.Date.Add(_checkInTime.Value);

            var regcard = new RegistrationCardEntity
            {
                ResToken = ReservationState.CurrentToken,
                ContactEmail = _mail,

                CheckInTime = checkInDateTime,

                GuestsData = _guests
            };

            await RegistrationCardState.SaveCardAsync(regcard);

            NavigationManager.NavigateTo($"/reservation/{Token}/Prearrival");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            ToastService.ShowToast("Wystąpił błąd podczas zapisywania danych. Spróbuj ponownie.");
        }
    }

    public override void Dispose()
    {
        // LayoutState.ShowFooter = true;
        base.Dispose();
    }
}