@page "/reservation/{token}/ReportPage"
@using RentoomBooking.StayWell.Components

@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<ReportPage> Localizer

@inherits Models.PageBase

<PageTitle>@Localizer["PageTitle"]</PageTitle>

@* <div class="page-info-wrapper">
    <PageInfo Title="Szeroka Premier No 2A" Subtitle="Zgłoś usterkę"></PageInfo>
</div> *@

<div class="buttons-wrapper">
    <div class="description-wrapper" style="padding-bottom: 0px;">
        <Description>
            <Icon><img src="/icons/info.svg"/></Icon>
            <DescriptionContent>
                <span>@Localizer["ReportOnPage"]</span>
            </DescriptionContent>
        </Description>
    </div>

    @* <Button Text="Przejdź na stronę zgłoszeń">
        <Icon>
            <img src="/icons/external-link.svg">
        </Icon>
    </Button> *@
    <div class="qr-maint-wrap">
        @{
            var formUrl = !string.IsNullOrEmpty(ApartmentState.QrMaintFormUrl)
            ? ApartmentState.QrMaintFormUrl
            : "https://app.qrmaint.com/request/77418950-edb4-0141-6154-34022cb5d27c";
        }

        <iframe class="qr-maint-frame"
                style="padding-top: 10px; padding-bottom: 10px;border-radius: 15px; border: none; backdrop-filter: blur(16px);-webkit-backdrop-filter: blur(16px);box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);"
                src="@formUrl"
                frameborder="0"
                seamless="seamless">
        </iframe>
    </div>
</div>


    @*     border-radius: 15px;
    padding: 18px;
    border: none;
    background: transparent;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); *@
