@page "/reservation/{token}/ReportPage"
@using RentoomBooking.StayWell.Components

@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<InstructionsPage> Localizer

@inherits Models.PageBase

<PageTitle>Report</PageTitle>

<div class="page-info-wrapper">
    <PageInfo Title="Szeroka Premier No 2A" Subtitle="Zgłoś usterkę"></PageInfo>
</div>

<div class="buttons-wrapper">
    <div class="description-wrapper" style="padding-bottom: 0px;">
        <Description>
            <Icon><img src="/icons/info.svg"/></Icon>
            <DescriptionContent>
                <span>Abyśmy mogli szybko pomóc, prosimy o dokładny opis usterki. Wskaż, co konkretnie nie działa i jeśli to możliwe, dodaj zdjęcia – to znacząco przyspieszy rozwiązanie problemu.</span>
            </DescriptionContent>
        </Description>
    </div>

    @* <Button Text="Przejdź na stronę zgłoszeń">
        <Icon>
            <img src="/icons/external-link.svg">
        </Icon>
    </Button> *@
    @if (!string.IsNullOrEmpty(ApartmentState.QrMaintFormUrl))
    {
        <div class="qr-maint-wrap">
            <iframe 
                class="qr-maint-frame"
                src='@ApartmentState.QrMaintFormUrl' 
                style='position:relative;width:1px;min-width:100%;*width:100%;' 
                frameborder='0' scrolling='no' seamless='seamless' height='1000' width='100'>
            </iframe>
        </div>
    }
    else
    {
        <div>
            <p>Napisz mail!</p>
        </div>
    }
</div>