@page "/reservation/{Token}"
@implements IDisposable
@using RentoomBooking.StayWell.States;
@using RentoomBooking.StayWell.Services;
@inject BackendApi BackendApi
@inject ReservationState ReservationState
@inject MediaState MediaState
@layout Layouts.ReservationLayout
@inject NavigationManager Navigation
<h3>ReservationPage</h3>

@if (MediaState.IsLoading || ReservationState.IsLoading)
{
    <h1>Ladowanie...</h1>
}
else if (ReservationState.CurrentReservation == null )
{
    <h3>Brak rezerwacji</h3>
}
else
{
    Navigation.NavigateTo($"/HomePage");
}


@code {
    [Parameter]
    public string? Token { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ReservationState.OnChange += OnReservationChange;
        MediaState.OnChange += StateHasChanged;
        await ReservationState.GetReservationAsync(Token);
    }

    private async void OnReservationChange()
    {
        StateHasChanged();
        var item = ReservationState?.CurrentReservation?.Reservation.Items.FirstOrDefault();
        if (item != null)
        {
            int objectId = item.objectId;
            await MediaState.GetMediaAsync(objectId);
        }
    }

    // protected override async Task OnParametersSetAsync()
    // {
    //     await LoadReservationAsync();
    //     await LoadMediaAsync();

    // }

    public void Dispose()
    {
        ReservationState.OnChange -= OnReservationChange;
        MediaState.OnChange -= StateHasChanged;
    }
}
