@page "/ReservationPage"
@* @implements IDisposable *@
@using RentoomBooking.StayWell.States;
@using RentoomBooking.StayWell.Services;
@inject NavigationManager Navigation
@layout Layouts.ReservationLayout
@inherits Models.PageBase

<h3>Rezerwacja dobiegła końca :(</h3>

<p>Wracaj do Torunia bo cie znajdziemy</p>
