@page "/wspolpraca";
@using RentoomBookingWeb.Components.Features.Cooperation.Components;

<PageTitle>Współpraca</PageTitle>

<div class="cooperation-container">
    <HeaderSection 
        ImagePath="/assets/images/header-bg-coop.jpeg" 
        Title="Współpraca" 
        Height="230px"
    />
    
    <AboutUs />
    
    <Advantages />
</div>

@code {
    
}