@using RentoomBooking.SharedClasses.Models.Upsell
@using RentoomBooking.StayWell.Services
@using RentoomBooking.StayWell.States
@inject AvailableUpsellsState AvailableUpsellsState
@inject NavigationManager Navigation
@inject BackendApi backendApi
@inherits Models.PageBase
<h3>UpsellPaymentRedirect</h3>

@code {


   /* 
    }

    */

}
