@page "/rezerwuj/{ReservationTokenGuid:guid}/dane-klienta/";
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.SharedClasses.Models.IdoBooking.ReservationWorkflow
@using RentoomBooking.SharedClasses.Services.ReservationWorkflow
@inject IApartmentsService ApartmentsService;
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation

<PageTitle>Płatność</PageTitle>

<div class="payment-container">
    <div class="payment-wrapper">
        @* <h1>@_apartment?.Name</h1> *@
        @* *@
        @* <div class=""> *@
        @*     <span itemprop="streetAddress">@_apartment?.ObjectLocation?.LocalizationItem?.Street</span>,  *@
        @*     <span itemprop="postalCode">@_apartment?.ObjectLocation?.LocalizationItem?.ZipCode</span>  *@
        @*     <span itemprop="addressLocality">@_apartment?.ObjectLocation?.LocalizationItem?.City</span> *@
        @* </div> *@
        
        <hr style="width: 100%"/>

        <EditForm EditContext="_editContext" OnValidSubmit="SaveAsync">
            <DataAnnotationsValidator />
            @* Optional *@
            @* <ValidationSummary /> *@

            <div class="form-wrapper">
                <div class="form-item">
                    <h4>Dane osobiste</h4>

                    <Input Placeholder="Imię" IsFull="true" @bind-Value="_form.Client.FirstName" />
                    <Input Placeholder="Nazwisko" IsFull="true" @bind-Value="_form.Client.LastName" />
                    <Input Placeholder="Miasto" IsFull="true" @bind-Value="_form.Client.City" />
                    <Input Placeholder="Adres" IsFull="true" @bind-Value="_form.Client.Street" />
                    <Input Placeholder="Kod pocztowy" IsFull="true" @bind-Value="_form.Client.ZipCode" />
                    <Input Placeholder="Adres E-mail" IsFull="true" @bind-Value="_form.Client.Email" />
                    <Input Placeholder="Numer telefonu" IsFull="true" @bind-Value="_form.Client.Phone" />
                </div>

                <div class="form-item">
                    <h4>Dane firmowe</h4>

                    <label class="addon-label">
                        <input type="checkbox" class="addon-checkbox" @bind="_form.UseInvoice" />
                        <span class="addon-name">Chcę otrzymać fakturę</span>
                    </label>

                    @if (_form.UseInvoice)
                    {
                        <Input Placeholder="Nazwa firmy" IsFull="true" @bind-Value="_form.Invoice.CompanyName" />
                        <Input Placeholder="NIP" IsFull="true" @bind-Value="_form.Invoice.TaxNumber" />
                        <Input Placeholder="Miasto" IsFull="true" @bind-Value="_form.Invoice.City" />
                        <Input Placeholder="Adres" IsFull="true" @bind-Value="_form.Invoice.Street" />
                        <Input Placeholder="Kod pocztowy" IsFull="true" @bind-Value="_form.Invoice.ZipCode" />
                        <Input Placeholder="Adres E-mail" IsFull="true" @bind-Value="_form.Invoice.Email" />
                    }
                </div>
            </div>

            <label class="addon-label">
                <input type="checkbox" class="addon-checkbox" />
                <span class="addon-name">Zapisz moje informacje na wypadek przyszłych transakcji</span>
            </label>

            <!-- TODO payments types -->
            @if (!string.IsNullOrEmpty(_error))
            {
                <p class="text-danger">@_error</p>
            }

            <button type="submit" disabled="@_isSaving">
                @(_isSaving ? "Zapisywanie..." : "Przejdź do podsumowania")
            </button>
        </EditForm>
        
    </div>
    
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }

    // private ApartmentObject? _apartment;
    //
   

    private PaymentFormModel _form = new();
    private EditContext _editContext = default!;
    private bool _isSaving;
    private string? _error;


    protected override async Task OnInitializedAsync()
    {
        //_apartment = await ApartmentsService.GetApartmentByIdAsync(Id);

        _editContext = new EditContext(_form);
        // _form.Client = ReservationWorkflowService

    }


   /* private void GoToSummary()
    {        Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/podsumowanie");
    }*/


    private async Task SaveAsync()
    {
    if (_isSaving)
    {
        return;
    }

    _isSaving = true;
    _error = null;

    try
    {
        await ReservationWorkflowService.SaveClientInfoAsync(ReservationTokenGuid, _form.Client, _form.UseInvoice ? _form.Invoice : null);
        Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/podsumowanie");
    }
    catch (Exception ex)
    {
        _error = "Nie udało się zapisać danych klienta." + ex.Message ;
    }
        finally
        {
            _isSaving = false;
        }
    }


    private sealed class PaymentFormModel
    {
        public ClientInfoDto Client { get; set; } = new();
        public InvoiceInfoDto Invoice { get; set; } = new();
        public bool UseInvoice { get; set; }
    }

}