@page "/rezerwuj/{ReservationTokenGuid:guid}/oplac/{tpayGuid:guid}/success"

@using RentoomBooking.SharedClasses.Services.ReservationWorkflow
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation

<PageTitle>Sukces</PageTitle>

<div class="summary-container">
    <div class="">
        <h2>Sukces</h2>
    </div>
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }
    [Parameter] public Guid TpayGuid { get; set; }
    
}