@page "/rezerwuj/{currentGuid:guid}/oplac/{tpayGuid:guid}/success"

@using RentoomBookingWeb.Components.Features.ReservationWorkflow.Services
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation

<PageTitle>Sukces</PageTitle>

<div class="summary-container">
    <div class="">
        <h2>Sukces</h2>
    </div>
</div>

@code {
    [Parameter] public Guid CurrentGuid { get; set; }
    [Parameter] public Guid TpayGuid { get; set; }
    
}