@page "/rezerwuj/{currentGuid:guid}/podsumowanie"

@using RentoomBookingWeb.Components.Features.ReservationWorkflow.Services
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation

<PageTitle>Podsumowanie</PageTitle>

<div class="summary-container">
    <div class="">
        <h2>Podsuwowanie</h2>
        <Button @onclick="GoToPayment">Przejdź dalej</Button>
    </div>
</div>

@code {
    [Parameter] public Guid CurrentGuid { get; set; }
    
    private void GoToPayment()
    {
        Navigation.NavigateTo($"/rezerwuj/{ReservationWorkflowService.CurrentGuid}/oplac");
    }
}