@page "/rezerwuj/{ReservationTokenGuid:guid}/podsumowanie"

@using RentoomBooking.SharedClasses.Services.ReservationWorkflow
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation

<PageTitle>Podsumowanie</PageTitle>

<div class="summary-container">
    <div class="">
        <h2>Podsuwowanie</h2>
        <Button @onclick="GoToPayment">Przejdź dalej</Button>
    </div>
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }
    
    private void GoToPayment()
    {
        Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/oplac");
    }
}