@page "/rezerwuj/{ReservationTokenGuid:guid}/podsumowanie-transakcji"

@using RentoomBooking.SharedClasses.Services.ReservationWorkflow
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation

<PageTitle>Opłać</PageTitle>

<div class="summary-container">
    <div class="">
        <h2>Podsumowanie transakcji</h2>
    </div>
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }
}