@inherits LayoutComponentBase
<div class="layout-page">
    <div class="layout-header">
        <RentoomBooking.StayWell.Components.Header>

        </RentoomBooking.StayWell.Components.Header>
    </div>

    <div class="layout-body">
        @Body
    </div>

    <div class="layout-footer-nav">
        <RentoomBooking.StayWell.Components.FooterNavigation>

        </RentoomBooking.StayWell.Components.FooterNavigation>
    </div>
</div>

