@page "/regulaminy"

<PageTitle>Regulaminy - Rentoom | Biuro Obsługi i Zarządzanie Najmem Toruń</PageTitle>

<main class="statute-container">
    <HeaderSection ImagePath="/assets/images/header-bg-statute.jpg" Title="Regulamin" Height="230px" />
    
    <div class="main-wrapper">
        <div class="statute-content">
            
            <section class="statute-section">
                <h2>REGULAMIN WYNAJMU</h2>
                <p>Regulamin i Umowa określają warunki rezerwacji i najmu apartamentów będących przedmiotem najmu przez <strong>Rentoom Apartamenty Sp. z o.o.</strong> (Wynajmującego), Szymańskiego 1B, 87-100 Toruń, NIP: 879-27-27-407, KRS: 0000871532, REGON: 387605281 na rzecz Najemcy.</p>
                
                <p>Rezerwacja lub najem noclegu jest równoznaczna z zapoznaniem się i akceptacją postanowień Regulaminu i Umowy.</p>
                
                <p>Wszystkie dane Najemcy, wykorzystywane są jedynie do przeprowadzenia rezerwacji lub najmu nie będą udostępniane osobom trzecim. Najemca wyraża zgodę na przetwarzanie jego danych osobowych przez Wynajmującego jako administratora w celu wykonania Umowy. Najemca ma prawo dostępu do swoich danych i ich poprawienia.</p>
                
                <p>Właściwym do rozstrzygania spraw spornych będzie właściwy rzeczowo Sąd w Toruniu.</p>
                
                <p>Wynajmujący zastrzega sobie prawo do odmowy przyjęcia Gościa, który: nie posiada ważnego dokumentu tożsamości (tj. dowód tożsamości bądź paszport) lub nie chce okazać dokumentu, jest pod wpływem alkoholu bądź innych środków odurzających, podczas poprzedniego pobytu naruszył postanowienia Regulaminu.</p>
                
                <p>Doba hotelowa trwa od godziny <strong>15:00</strong> do godziny <strong>11:00</strong> lub dnia następnego.</p>
                
                <p>W dniu wyjazdu Najemca zobowiązany jest do zdania apartamentu do godziny 11:00, w przeciwnym razie zostanie doliczona opłata w wysokości następnej rozpoczętej doby + 50%.</p>
                
                <p class="warning-text">Palenie w apartamentach jest surowo zabronione. Za złamanie zakazu palenia wewnątrz apartamentu Najemca zobowiązany jest do uiszczenia dodatkowej opłaty w kwocie <strong>500 PLN</strong> (pięćset).</p>
                
                <p>Zabronione jest korzystanie ze sprzętów elektrycznych niebędących wyposażeniem apartamentu i stanowiących zagrożenie pożarem.</p>
                
                <p>O wszelkich uszkodzeniach lub niesprawnościach wyposażenia apartamentu Najemca zobowiązany jest natychmiast poinformować Wynajmującego.</p>
                
                <p>Zwierzęta nie są akceptowane.</p>
                
                <p>Na terenie wynajmowanego apartamentu obowiązuje <strong>cisza nocna w godzinach 22:00-07:00</strong>. Osoby niezameldowane w apartamencie, mogą przebywać w odwiedzinach tylko do godziny 21:00.</p>
                
                <p class="warning-text">Organizowanie imprez towarzyskich w apartamencie jest całkowicie zabronione. Za zorganizowanie imprezy towarzyskiej, Najemca uiści na rzecz Wynajmującego dodatkową opłatę w wysokości <strong>5 000 PLN</strong> + dodatkowe straty jakie poniósł Wynajmujący. Za wszystkie zniszczenia wynajmowanego apartamentu jak i budynku odpowiada osoba Najemcy. Najemca odpowiada za wszystkie zniszczenia wynikłe z zachowania osób trzecich przebywających z nią w apartamencie – zaproszonych do mieszkania/budynku przez tę osobę. W przypadku interwencji Policji bądź Straży Miejskiej Wynajmujący obciąży Najemcę dodatkową opłatą w wysokości 500 PLN (pięćset).</p>
                
                <p>Liczba osób nocujących w apartamencie nie może przekraczać liczby podanej podczas rezerwacji. Stwierdzenie nieprawidłowości w tym względzie skutkuje naliczeniem opłaty dodatkowej w wysokości 200 PLN za każdą z niezgłoszonych osób za każdą dobę pobytu.</p>
                
                <p>Goście zobowiązani są do właściwego zabezpieczenia apartamentu, tj. do dokładnego zamykania wszystkich drzwi wejściowych i okien przed każdorazowym opuszczeniem apartamentu oraz do przechowywania kluczy/kodów/pilotów bez możliwości dostępu do nich osób nieupoważnionych.</p>
                
                <p>Wynajmujący nie odpowiada za zniszczone lub zgubione wartościowe przedmioty pozostawione w apartamencie.</p>
                
                <p>W przypadku zagubienia/zniszczenia klucza do apartamentu lub pilota do garażu naliczona jest opłata w wysokości 100 PLN za każdą sztukę.</p>
                
                <p>Sprzątanie końcowe wliczone jest w cenę pobytu. Jednakże, Gość zobowiązany jest do pozostawienia po sobie umytych naczyń oraz używanych sprzętów. Czynności te nie stanowią istoty sprzątania końcowego.</p>
                
                <p>Każde dodatkowe sprzątanie na specjalne życzenie Wynajmującego to koszt 100 PLN. W cenę wliczona jest wymiana pościeli i ręczników.</p>
                
                <p>Opłaty za media, które udostępnia Wynajmujący, są wliczone w cenę pobytu.</p>
                
                <p>W przypadku pobytów dłuższych niż 7 dni na życzenie Najemcy raz na tydzień, może być dokonana wymiana pościeli i ręczników bez dodatkowych opłat.</p>
                
                <p>Za wszystkie szkody / kradzież powstałe w apartamencie podczas pobytu odpowiada materialnie Najemca.</p>
                
                <p>Prosimy o natychmiastowe poinformowanie nas, jeśli dojdzie do jakiegoś nieporozumienia bądź nie będą Państwo zadowoleni z naszych usług. Najemca ma prawo do reklamacji usługi. Reklamacje należy składać mailowo na adres: <a href="mailto:info@torun-apartamenty.pl">info@torun-apartamenty.pl</a> lub listownie, listem poleconym na adres: MCS73 sp. z o.o. 87-100 Toruń, ul. St. Szymańskiego 1B. Odpowiedź na reklamacje zostanie udzielona w ciągu 14 dni od jej doręczenia.</p>
                
                <p>Wynajmujący za rezerwacje weekendowe, jednodniowe oraz dwudniowe piątek-sobota oraz sobota-niedziela może pobrać od gości depozyt w wysokości 1 000 PLN do zwrotu w dniu wyjazdu.</p>
                
                <p>Wynajmujący uprawniony jest każdorazowo do dochodzenia odszkodowania przenoszącego wartość opłat dodatkowych.</p>
            </section>

            <hr />

            <section class="statute-section">
                <h2>REGULAMIN PŁATNOŚCI</h2>
                <p>Opłaty takie jak cena noclegu oraz wszystkich dodatków widoczne są podczas dokonywania rezerwacji, po wybraniu zakresu dat pobytu, ilości osób oraz rodzaju apartamentu.</p>
                
                <p>Rozliczenie opłaty za pobyt odbywa się z góry, najpóźniej w dniu zameldowania. Opłaty można dokonać gotówką (za zgodą Wynajmującego, co może wiązać się z uiszczeniem dodatkowej opłaty), kartą płatniczą, kartą kredytową lub przelewem.</p>
                
                <p>Podczas dokonywania rezerwacji Wynajmujący ma prawo do pobrania zaliczki w wysokości 10% wartości pobytu lub całość kwoty w przypadku dokonania rezerwacji w obniżonej cenie w promocji bezzwrotnej.</p>
                
                <p>Najemca obowiązany jest do dokonania płatności za cały pobyt 14 dni przed zameldowaniem.</p>
                
                <p>Za każdy pobyt wystawiana jest faktura lub paragon.</p>
                
                <p>Jeśli Najemca odstępuje od Umowy do 14 dni przed zameldowaniem lub do 2 godzin po dokonaniu rezerwacji nie ponosi żadnych kosztów rezerwacji, a ewentualnie pobrane zaliczki zostaną mu zwrócone.</p>
                
                <p>Jeśli Najemca odstępuje od umowy zawartej w obniżonej cenie w promocji bezzwrotnej lub w terminie 14 lub mniej dni przed zameldowaniem ponosi całkowity koszt rezerwacji.</p>
                
                <p>Obsługa płatności bezpośrednich realizowana jest przy współpracy z firmami:</p>
                <ul>
                    <li>a) Tpay.com Krajowy Integrator Płatności Spółka Akcyjna ul. Św. Marcin 73/6 61-808 Poznań NIP: 7773061579 REGON: 300878437 KRS: 0000412357. Regulaminy płatności: <a href="https://tpay.com/regulaminy" target="_blank">https://tpay.com/regulaminy</a></li>
                    <li>b) PayPro SA Sp. z o. o.  60-327 Poznań, ul. Kanclerska 15. NIP 779-236-98-87, REGON 301345068 właściciela serwisu <a href="http://www.przelewy24.pl" target="_blank">www.przelewy24.pl</a></li>
                </ul>
            </section>

            <hr />

            <section class="statute-section">
                <h2>REKLAMACJE</h2>
                <p>Najemca ma prawo do reklamacji usługi. Reklamacje należy składać mailowo na adres <a href="mailto:info@rentoom.pl">info@rentoom.pl</a> lub listownie, listem poleconym na adres korespondencyjny.</p>
                <p>Odpowiedź na reklamacje zostanie udzielona w ciągu 14 dni od jej doręczenia.</p>
            </section>
        </div>

        <hr>
        
        <div class="other-statutes">
            <a href="https://rentoom.pl/dokumenty/PolitykaCookies.pdf" target="_blank">Polityka Cookies</a>
            <a href="https://rentoom.pl/dokumenty/Generalna_klauzula_informacyjna.pdf" target="_blank">Generalna klauzula informacyjna</a>
            <a href="https://rentoom.pl/dokumenty/Generalna_klauzula_informacyjna.pdf" target="_blank">Reguamin promocji "Zyskaj 1500 zł"</a>
            <a href="https://rentoom.pl/dokumenty/regulamin-konkursu-zwt-rentoom2.pdf" target="_blank">Reguamin konkursu "Zakochani w Toruniu"</a>
            <a href="https://rentoom.pl/dokumenty/Konkurs_XI-XII_2022.pdf" target="_blank">Reguamin konkursu XI-XII 2022</a>
        </div>
    </div>

</main>
@code {
    
}