@using RentoomBookingWeb.Components.Features.Apartments.Components

<div class="apartments-section-container">
    <div class="apartments-section-container-text">
        <h1 class="city-title">Apartamenty w Toruniu – komfortowe noclegi</h1>
        <h2 class="city-subtitle">Szukasz komfortowego apartamentu w Toruniu?</h2>
    </div>
    
    <Slider ItemsPerPage="3">
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
        <Item>
            <Apartment/>
        </Item>
    </Slider>
</div>