@using RentoomBookingWeb.Components.Features.Apartments.Components;

<div class="apartments-section-container">
    <div class="apartments-section-container-text">
        <h1 class="city-title">Apartamenty w Toruniu – komfortowe noclegi</h1>
        <h2 class="city-subtitle">Szukasz komfortowego apartamentu w Toruniu?</h2>
    </div>
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="text-red-600">@Error</p>
    }
    else
    {
        @if (!ApartmentsIsLoading)
        {
            <Slider ItemsPerPage="4">
                @foreach (var apartment in Apartments)
                {
                    <Item>
                        <div @onclick="() => GoToApartmentWithOffer(apartment.Id)" class="apartment-slide-col">
                            <Apartment Item="@apartment" 
                                       Offer="@GetPricingOfferByObjectId(apartment.Id)" 
                                       ShowPrice="true"
                                       DisableForGoToReservation="true"
                                       />
                        </div>
                    </Item>
                }  
            </Slider>   
        }
        else
        {
            <Slider ItemsPerPage="4">
                <Item>
                    <div class="apartment-slide-col">
                        <Apartment />
                    </div>
                </Item>
                <Item>
                    <div class="apartment-slide-col">
                        <Apartment />
                    </div>
                </Item>
                <Item>
                    <div class="apartment-slide-col">
                        <Apartment />
                    </div>
                </Item>
                <Item>
                    <div class="apartment-slide-col">
                        <Apartment />
                    </div>
                </Item>
            </Slider>   
        } 
    }
</div>