@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> Localizer;

<section class="hero-container">
    <h1 class="hero-text">@Localizer["HomeHeroText"]</h1>
    <SearchBar />
</section>