<div class="option-container">
    <div class="option-top">
        <div 
            class="option-image-wrapper"
            style="background-image: url('@UserImage'); background-size: cover; background-position: center;"
        ></div>
        
        <div class="option-top-content">
            <p>@Title</p>
            <div class="stars">
                @for (int i = 0; i < Stars; i++)
                {
                    <img src="assets/svgs/star.svg" alt="Star"/>
                }
                @for (int i = 0; i < StarsNotFilled; i++)
                {
                    <img src="assets/svgs/star-not-filled.svg" alt="StarNotFilled"/>
                }
            </div>
        </div>
    </div>
    
    <p class="option-content">
        @Description
    </p>
</div>

@code {
    [Parameter] public string? UserImage { get; set; } = "";
    [Parameter] public string? Title { get; set; } = "";
    [Parameter] public string? Description { get; set; } = "";
    [Parameter] public int Stars { get; set; } = 5;

    private int MaxStars = 5;

    private int StarsNotFilled => MaxStars - Stars;
}