.option-container {
    background-color: #ffffff;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 2.5rem;
    color: #333;
    font-family: 'Segoe UI', sans-serif; 
}

.option-top {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.option-image-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex-shrink: 0;
}

.option-top-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.option-top-content p {
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.2;
}

.stars {
    display: flex;
    gap: .2rem;
}

.stars img {
    width: 1.2rem;
}

.option-content {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin: 0;
}

.option-content::before {
    content: '"';
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    line-height: 0;
    vertical-align: -0.4rem;
    margin-right: 4px;
}

.option-content::after {
    content: '"';
    color: #000; 
    font-size: 1rem;
    font-weight: bold;
    line-height: 0;
    vertical-align: -0.4rem;
    margin-left: 4px;
}

@media (max-width: 450px) {
    .option-top {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .option-top-content {
        align-items: center;
    }

    .option-content {
        text-align: center;
    }
}