@using RentoomBookingWeb.Components.Features.Home.Components
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<div class="opinions-title">
    @Localizer["opinionText"]
</div>

<div class="options-slider-wrapper">
    <Slider ItemsPerPage="3">
    <Item>
        <Opinion Stars="4" UserImage="assets/images/test-user-opinion.jpeg" Title="Martyna, Polska" Description="Jesteśmy bardzo mile zaskoczeni pobytem wynajmowanym apartamentem na ulicy Piekary 14.. Bardzo blisko do miejsc tzw kulturalnych muzea itp. Apartament przestronny czysty zadbany żadnych usterek czy nie działającego sprzętu. Bardzo wygodne łózko, duża ilość przyborów kuchennych. Pozdrawiam napewno gorąco polecam wszystkim . Napewno wybierzemy przy następnym pobycie Rentoom i oczywiście będziemy gorąco wszystkim polecać."/>
    </Item>
    <Item>
        <Opinion UserImage="assets/images/test-user-opinion.jpeg" Title="Dawid, Polska" Description="Jesteśmy bardzo mile zaskoczeni pobytem wynajmowanym apartamentem na ulicy Piekary 14.. Bardzo blisko do miejsc tzw kulturalnych muzea itp. Apartament przestronny czysty zadbany żadnych usterek czy nie działającego sprzętu. Bardzo wygodne łózko, duża ilość przyborów kuchennych. Pozdrawiam napewno gorąco polecam wszystkim . Napewno wybierzemy przy następnym pobycie Rentoom i oczywiście będziemy gorąco wszystkim polecać."/>
    </Item>
    <Item>
        <Opinion UserImage="assets/images/test-user-opinion.jpeg" Title="Konrad, Polska" Description="Jesteśmy bardzo mile zaskoczeni pobytem wynajmowanym apartamentem na ulicy Piekary 14.. Bardzo blisko do miejsc tzw kulturalnych muzea itp. Apartament przestronny czysty zadbany żadnych usterek czy nie działającego sprzętu. Bardzo wygodne łózko, duża ilość przyborów kuchennych. Pozdrawiam napewno gorąco polecam wszystkim . Napewno wybierzemy przy następnym pobycie Rentoom i oczywiście będziemy gorąco wszystkim polecać."/>
    </Item>
    <Item>
        <Opinion UserImage="assets/images/test-user-opinion.jpeg" Title="Michał, Polska" Description="Jesteśmy bardzo mile zaskoczeni pobytem wynajmowanym apartamentem na ulicy Piekary 14.. Bardzo blisko do miejsc tzw kulturalnych muzea itp. Apartament przestronny czysty zadbany żadnych usterek czy nie działającego sprzętu. Bardzo wygodne łózko, duża ilość przyborów kuchennych. Pozdrawiam napewno gorąco polecam wszystkim . Napewno wybierzemy przy następnym pobycie Rentoom i oczywiście będziemy gorąco wszystkim polecać."/>
    </Item>
    <Item>
        <Opinion UserImage="assets/images/test-user-opinion.jpeg" Title="Konrad, Polska" Description="Jesteśmy bardzo mile zaskoczeni pobytem wynajmowanym apartamentem na ulicy Piekary 14.. Bardzo blisko do miejsc tzw kulturalnych muzea itp. Apartament przestronny czysty zadbany żadnych usterek czy nie działającego sprzętu. Bardzo wygodne łózko, duża ilość przyborów kuchennych. Pozdrawiam napewno gorąco polecam wszystkim . Napewno wybierzemy przy następnym pobycie Rentoom i oczywiście będziemy gorąco wszystkim polecać."/>
    </Item>
</Slider>
</div>