@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<section class="stats">
    <article class="stat">
        <h2>60,000</h2>
        <div class="stat-content">
            <img src="assets/svgs/user-stat.svg" alt="Zadowoleni klienci" class="icon" />
            <p>@Localizer["clientsstat"]</p>
        </div>
    </article>

    <article class="stat">
        <h2>120</h2>
        <div class="stat-content">
            <img src="assets/svgs/home.svg" alt="Apartamenty w Toruniu" class="icon" />
            <p>@Localizer["apartmentsstats"]</p>
        </div>
    </article>

    <article class="stat">
        <h2>35</h2>
        <div class="stat-content">
            <img src="assets/svgs/pin.svg" alt="Lokalizacje w Toruniu" class="icon" />
            <p>@Localizer["locationsstats"]</p>
        </div>
    </article>
</section>