<section class="stats">
    <article class="stat">
        <h2>60,000</h2>
        <div class="stat-content">
            <img src="assets/svgs/user-stat.svg" alt="Zadowoleni klienci" class="icon" />
            <p>Zadowolonych klientów</p>
        </div>
    </article>

    <article class="stat">
        <h2>120</h2>
        <div class="stat-content">
            <img src="assets/svgs/home.svg" alt="Apartamenty w Toruniu" class="icon" />
            <p>Apartamentów w Toruniu</p>
        </div>
    </article>

    <article class="stat">
        <h2>35</h2>
        <div class="stat-content">
            <img src="assets/svgs/pin.svg" alt="Lokalizacje w Toruniu" class="icon" />
            <p>Lokalizacji w Toruniu</p>
        </div>
    </article>
</section>