@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<section class="stats">
    <article class="stat">
        <h2>60,000</h2>
        <div class="stat-content">
            <GoogleIcon Name="groups" Class="icon" AriaLabel="Zadowoleni klienci" />
            <p>@Localizer["clientsstat"]</p>
        </div>
    </article>

    <article class="stat">
        <h2>120</h2>
        <div class="stat-content">
            <GoogleIcon Name="apartment" Class="icon" AriaLabel="Apartamenty w Toruniu" />
            <p>@Localizer["apartmentsstats"]</p>
        </div>
    </article>

    <article class="stat">
        <h2>35</h2>
        <div class="stat-content">
            <GoogleIcon Name="location_on" Class="icon" AriaLabel="Lokalizacje w Toruniu" />
            <p>@Localizer["locationsstats"]</p>
        </div>
    </article>
</section>
