.apartment-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 0.5rem;
}

.apartment-title-address h2 {
    font-size: 2.25rem;
    margin: 0 0 0.5rem 0;
    color: #1F5A41;
}

.apartment-title-address span {
    color: #666;
    font-size: 1rem;
}

.apartment-details {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}

.apartment-details li {
    display: flex;
    align-items: center;
    gap: .4rem;
    color: #333;
    font-size: 1rem;
}

.apartment-details .icon {
    width: 30px;
    height: 30px;
}

@media (max-width: 768px) {
    .apartment-text-wrapper {
        align-items: flex-start;
    }
    
    .apartment-title-address h2 {
        font-size: 1.75rem;
    }
}
