@using RentoomBooking.SharedClasses.Models.RentoomBooking
@using RentoomBookingWeb.Components.Features.Apartments.Components
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RentoomBookingWeb.Apartment> Localizer

<div class="apartment-text-wrapper">
    <div class="apartment-title-address">
        <h2>@Apartment?.Name</h2>
        <span>@Apartment?.ObjectLocation?.LocalizationItem?.Street</span>,
        <span>@Apartment?.ObjectLocation?.LocalizationItem?.ZipCode</span>
        <span>@Apartment?.ObjectLocation?.LocalizationItem?.City</span>
    </div>

    <ul class="apartment-details">
        <li>
            <GoogleIcon Name="groups" Class="icon" AriaLabel="@Localizer["Reservation_AltOccupancy"]" />
            <span>@Apartment?.MinCapacity - @Apartment?.Capacity</span>
        </li>
        <li>
            <GoogleIcon Name="bed" Class="icon" AriaLabel="@Localizer["Reservation_AltBeds"]" />
            @BedsCount
        </li>
        <li>
            <GoogleIcon Name="bathtub" Class="icon" AriaLabel="@Localizer["Reservation_AltBathrooms"]" />
            1
        </li>
        <li>
            <GoogleIcon Name="square_foot" Class="icon" AriaLabel="@Localizer["Reservation_AltArea"]" />
            <span>@Apartment?.Area m²</span>
        </li>
    </ul>
</div>

<div class="hero-images-spacer"></div>

<Images ImagesList="Mediums"></Images>

@code {
    [Parameter] public ApartmentObject? Apartment { get; set; }
    [Parameter] public List<ObjectMedium>? Mediums { get; set; }
    [Parameter] public int? BedsCount { get; set; }
}
